*.pyc
*.mo
/static/
kirppu/local_settings.py
kirppu_project/local_settings.py
*/node_modules*/
/KirppuVenv*/
/kirppu.egg-info/
/venv*/
kirppu/static/kirppu/*
kirppu/static_src/js/api_stub.js
*.db
*.sqlite*
.vscode/
/private/
**/__pycache__/
/.git/
/.idea/
/.mypy_cache/
/.pytest_cache/
/build
/dist
