*.pyc
*.mo
/static/
kirppu/local_settings.py
kirppu/template-strings.js
kirppu/tests/api_access.pyi
kirppu_project/local_settings.py
node_modules*
/KirppuVenv*
/venv*
kirppu/static/kirppu/*
kirppu/static_src/js/api_stub.js
*.sqlite3
.vscode/
.cache
htmlcov
.coverage
/.idea/
/.pytest_cache/
