#box-add-form {
    width: 19cm;
}

/**
 * Hierarchy for box_container entities.
 *
 *  .box_container
 *      .box_header
 *          .box_description
 *          .box_button_hide
 *      .box_body
 *          .box_count
 *          .box_type
 *          .box_price
 *               .price
 *          .box_adult
 *          #print_box
 *
 *  .box_content
 *      .box_content_table_page
 *          .box_content_table_page_header
 *              .box_content_number
 *              .box_content_table_page_instructions
 *          .box_description
 *          .box_title
 *          .price
 *          .box_vendor_id
 *      .box_content_page
 *          .box_content_page_header
 *              .box_content_number
 *              .box_content_description
 *                  .box_title
 *                  .box_value
 *                  .price
 *                  .box_vendor_id
 *
 */
#boxes {
    width: 19cm;
    float: left;
    clear: left;
}
#box_content {
    width: 19cm;
}
.box_container {
    width: 99.9%;
    float: left;
    padding: 0.1cm;
    position: relative; /* Needed for absolute positioning of child elements. */
    transition: width 0.2s;
}

.box_container .box_description {
    width: 17cm;
    min-height: 2em;
}

.box_content_page .box_description {
    width: 18cm;
    overflow-wrap: break-word;
    display: inline-block;
    height: auto;
    max-height: 10cm;
}

.box_adult {
    font-weight: bold;
}

.box_content_page_header {

    border: 1px solid black;
    width: 99.9%;
    height: 3.62cm;
    clear: both;
    padding: 0.1cm;
    position: relative; /* Needed for absolute positioning of child elements. */
    transition: width 0.2s;
}

.box_content_page_header .box_content_number {

    border: 3px solid black;
    left: 0.5em;
    top: 0.5em;
    width: 2cm;
    height: 2cm;
    float: left;
    position: relative;
}

.box_content_page_header .box_title {

    width: 5em;
    display: inline-block
}

.box_content_page_header .box_page_description {
    width: 90%;
    overflow-wrap: break-word;
    display: inline-block;
    font-size: 130%;
}

.box_content_page_header .box_value {

    width: 5em;
    display: inline-block
}

.box_content_description {

    top: 0.5em;
    width: 85%;
    float: right;
    padding: 0.1cm;
    transition: width 0.2s;
     position: relative;
}

.box_title {
    font-size: 130%;
}

.box_content_table_page {

    height: 14cm;
}

.box_content_table_page .box_vendor_id {
    font-size: 130%;
}

.box_content_table_page .box_price {
    font-size: 175%;
}

.box_content_table_page .box_adult {
    font-size: 130%;
}


.box_content_table_page_header {

    height: 9cm;
}

.box_content_table_page_header .box_content_number {

    border: 3px solid black;
    left: 0.5em;
    top: 0.5em;
    width: 8cm;
    height: 8cm;
    float: left;
    position: relative;

}
.box_content_table_page_instructions {

    position: relative;
    top: 35%;
    font-size: 200%;
    margin-left: 8.5cm;
}

.box_content_table_page .box_description {
    font-size: 175%;
}

.box_content_table_page .box_title  {
    font-size: 150%;
}

.box_empty_row {

    height: 1em;
}

.box_button_hide {
    position: absolute;
    top: 1em;
    right: 1em;
    width: 1.5em;
    height: 1.5em;
    padding: 0px;
    font-size:14px;
    font-weight:bold;
}

#box_content .item_adult_tag,
#box_content .item_price,
#box_content .item_name {
    display: none;
}
#box_content .item_container {
    border: none;
}
#box_content .item_vendor_id {
    position: relative;
    top: 0;
    left: initial;
    text-align: center;
}

@media screen, projection, handheld {

}

@media print {

    .price, .box_description {
        border: none;
    }
    .box_container > button {
        display: none;
    }
    #box-add-form {
        display: none;
    }

    .box_content_page {
        page-break-inside: avoid;
    }

    .box_content_new_page {
        page-break-before: always;
    }

    @page
    {
        /* this affects the margin in the printer settings */
        margin: 1cm 1cm;
    }

    body
    {
        /* this affects the margin on the content before sending to printer */
        margin: 0px;
        padding: 0px;
    }

    #boxes {
        width: 100%;
    }
}
