.receipt_index {
    width:     2em;
    max-width: 2em;
}
.receipt_vendor_id {
    width:     5em;
    max-width: 5em;
}
.receipt_item {
    width: auto;
}
.receipt_code {
    width:     8em;
    max-width: 8em;
    text-align: center;
}
td.receipt_code {
    font-family: monospace;
}
.receipt_price {
    width:     5em;
    max-width: 12em;
    white-space: nowrap;
    text-align: right;
}
.receipt_vendor_id {
    width:     4em;
    max-width: 4em;
}
.receipt_status {
    width:5em;
    white-space: nowrap;
}
.receipt_abandoned {
    width: 0;
    white-space: nowrap;
}
.receipt_count {
    width: 4em;
    max-width: 9em;
}
.badged_index {
    width: 2em;
    text-align: center;
}
.badged_index .badge {
    animation: cursor-blink 0.5s steps(2, start) infinite;
}
@keyframes cursor-blink {
    from {
        opacity: 70%
    }
    to {
        opacity: inherit;
    }
}

td.min-width {
    width: 0;
}
td.erased {
    color: #555;
    text-decoration: line-through;
}

tr.receipt_tr_clickable:hover {
    text-decoration: underline;
    cursor: pointer;
}
#counter_receipt > tr:first-child td {
    font-size: larger;
    font-weight: bold;
}
.color-CounterMode {
    background-color: #ccccff;
}
.color-ItemCheckInMode {
    background-color: #ccffcc;
}
.color-VendorCheckoutMode {
    background-color: #ffcccc;
}
.color-VendorFindMode {
    background-color: #ffffcc;
}
.color-ReceiptPrintMode {
    background-color: #ffccff;
}

.vendor-info-box {
    margin: 0.5em;
    padding: 0.5em;
    border: 1px solid black;
    background: white;
}
.vendor-info-box > h3 {
    margin: 0;
}
.vendor-info-box > dl {
    margin: 0;
}
.vendor-info-key {
    font-weight: bold;
    text-align: right;
}

.short-code-display {
    font-size: x-large;
}

/* Vendor report box list, changed prices rows. */
tr.table-row-groupItem > td {
    padding: 2px 5px 2px !important;
}

.alert-error-blink {
    /* Container class when blinking. */
    animation: alert-error-blink 0.3s steps(2, start) 4;
}
.alert-warn-blink {
    /* Container class when blinking. */
    animation: alert-warn-blink 0.3s steps(2, start) 4;
}
.alert-off {
    /* Text container when no current error. */
    display: none;
}

@keyframes alert-error-blink {
    from {
        background-color: deeppink;
    }
    to {
        background-color: inherit;
    }
}
@keyframes alert-warn-blink {
    from {
        background-color: darkgoldenrod;
    }
    to {
        background-color: inherit;
    }
}

@media print {

    @page
    {
        /* this affects the margin in the printer settings */
        margin: 1cm 1cm;
    }

    body
    {
        /* this affects the margin on the content before sending to printer */
        margin: 0;
        padding: 0;
    }

}

kbd.shortcut {
    background-color: #888;
    color: #f8f8f8;
    margin-right: 8px;
    text-align: center;
    vertical-align: middle;
}
.disabled kbd.shortcut {
    background-color: #ccc;
    box-shadow: initial;
}

.dropdown-menu > li > a {
    padding: 3px 20px 3px 15px;
}

.spinner {
    animation: spinner-frames 0.5s linear infinite;
}

@keyframes spinner-frames {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.warn-blink {
    animation: warn-blink 0.5s steps(2, start) 20;
}

@keyframes warn-blink {
    from {
        color: #e82121;
    }
    to {
        color: #333333;
    }
}
