table .numeric {
    text-align: right;
}

table .bool {
    text-align: center;
}

td address {
    margin-bottom: 0.2ex;
}

button.btn-minwidth {
    min-width: 6em;
}

code.yv8k02zi {
    color: #fff;
    background: #fff;
    width: 3em;
    display: inline-block;
    white-space: pre;
    overflow: hidden;
    user-select: none;
    line-height: normal;
    padding: 0;
}
code.yv8k02zi:before {
    color: #f00;
    content: "???";
}
