{% extends "kirppu/app_vendor.html" %}{% load kirppu_tags %}{% load i18n %}

{% block body %}
    <h1>Kirppu</h1>
    {% load_text "frontpage_intro" %}

    {% if items or boxes %}
    {% if items %}
        <table class="table table-striped table-condensed">
            <caption><h3>{% trans "Registered items" %}</h3></caption>
            <thead>
            <tr>
                <th class="numeric">#</th>
                <th>{% trans "name" %}</th>
                <th>{% trans "code" %}</th>
                <th class="numeric">{% trans "price" %}</th>
                <th class="bool">{% trans "printed" %}</th>
            </tr>
            </thead>
            <tbody>

        {% for i in items %}
            <tr>
                <td class="numeric">{{ forloop.counter }}</td>
                <td>{{ i.name }}</td>
                <td>{{ i.code }}</td>
                <td class="numeric">{{ i.price }}&nbsp;€</td>
                <td class="bool">{{ i.printed|yesno:_("yes,no") }}</td>
            </tr>
        {% endfor %}

            <tr>
                <th colspan="3">{% trans "Total:" %}</th>
                <th class="numeric">{{ total_price }}&nbsp;€</th>
                <th class="bool">
                    {% blocktrans %}{{ num_printed }} of {{ num_total }}{% endblocktrans %}
                </th>
            </tr>

            </tbody>
        </table>
    {% endif %}
    {% if boxes %}
        <table class="table table-striped table-condensed">
            <caption><h3>{% trans "Registered boxes" %}</h3></caption>
            <thead>
            <tr>
                <th class="numeric">#</th>
                <th>{% trans "description" %}</th>
                <th class="numeric">{% trans "items" %}</th>
                <th class="numeric">{% trans "unit price" %}</th>
                <th class="bool">{% trans "printed" %}</th>
            </tr>
            </thead>
            <tbody>

        {% for i in boxes %}
            <tr>
                <td class="numeric">{{ forloop.counter }}</td>
                <td>{{ i.description }}</td>
                <td class="numeric">{{ i.get_items.count }}</td>
                <td class="numeric">{{ i.get_price_fmt }}&nbsp;€</td>
                <td class="bool">{{ i.is_printed|yesno:_("yes,no") }}</td>
            </tr>
        {% endfor %}

            <tr>
                <th colspan="2">{% trans "Total:" %}</th>
                <th class="numeric">{{ boxes_item_count }}</th>
                <th class="numeric">{{ boxes_total_price }}&nbsp;€</th>
                <th class="bool">
                    {% blocktrans %}{{ boxes_printed }} of {{ boxes_count }}{% endblocktrans %}
                </th>
            </tr>

            </tbody>
        </table>
    {% endif %}
    {% elif user.is_authenticated %}
        {% trans "No registered items." %}
    {% endif %}
    {% load_text "frontpage_tail" %}
{% endblock  %}
