{% load kirppu_tags %}{% load i18n %}

    <div class="box_content_page_header" id="{{ box_id }}">

        <div class="box_content_number">
        </div>
        <div class="box_content_description">
            <div>
                <span class="box_title">{{ description }}</span>
            </div>

            <div class="row box_empty_row">
            </div>

            <div>
                <span class="box_title">{% trans "Price:" %}</span>
                <span class="box_value price">{{ price }}</span>
            </div>

             <div>
                <span class="box_title">{% trans "Vendor:" %}</span>
                <span class="box_value box_vendor_id">{{ vendor_id }}</span>
            </div>

        </div>
    </div>
