{% load kirppu_tags %}{% load i18n %}

    <div class="box_container box_{{ box_type }} {{ locked|yesno:',box_editable' }}" id="{{ box_id }}">

        <div class="panel panel-default">
            <div class="panel-heading box_header">
                <h3 class="panel-title box_description">{{ description }}</h3>
                <button class="box_button_hide" title="{% trans "Permanently remove the box." %}" type="button"><span class="glyphicon glyphicon-remove"></span></button>
            </div>
            <div class="panel-body container box_body">
                <div class="row">
                    <div class="col-sm-1">{% trans "Items #:" %}</div>
                    <div class="col-sm-1 box_count">{{ item_count }}</div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-1">{% trans "Type:" %}</div>
                    <div class="col-sm-4 box_type">{{ item_type }}</div>
                </div>
                <div class="row">
                    <div class="col-sm-1">{% trans "Price / unit:" %}</div>
                    <div class="col-sm-1 box_price">{{ price }}</div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-1">{% trans "Adult:" %}</div>
                    {% if item_adult == "yes" %}
                        <div class="col-sm-1 box_adult">K-18</div>
                    {% else %}
                        <div class="col-sm-1 box_adult">-</div>
                    {% endif %}
                </div>
                <div class="row">
                     <div class="col-sm-6"></div>
                     <div class="col-sm-1"><button id="print_box" type="button" class="btn btn-default btn-sm btn-block {% if not printed %}btn-success{% endif %}">{% trans "Print" %}</button></div>
                </div>
            </div>
        </div>
    </div>
