{% extends "kirppu/app_vendor.html" %}{% load kirppu_tags i18n static %}

{% block title %}{% trans "Box list" %} – {{ block.super }}{% endblock %}

{% block head %}
    {{ block.super }}
    <link href="{% static "kirppu/css/boxes.css" %}" rel="stylesheet">
    <script src="{% static "kirppu/js/jeditable.js" %}"></script>
    <script src="{% static "kirppu/js/boxes.js" %}"></script>
    <style type="text/css">
        {% include "kirppu/currency_style.css" with class="box_price" %}

        .form-control.has-error {
            border-color: #a94442;
        }
        p.isInvalid {
            text-decoration: line-through;
        }
    </style>
{% endblock %}

{% block body %}
    {% if is_registration_open %}
    {% include "kirppu/noscript_help.html" %}
    {% include "kirppu/terms_form.html" %}
    <form id="box-add-form" method="POST" class="form-horizontal" data-require-terms="true">
        {% csrf_token %}
        <div class="panel panel-default">
            <div class="panel-body">
                {% if is_registration_closed_for_users %}
                {% include "kirppu/registration_closed.html" %}
                <div class="alert alert-warning hidden-print" role="alert">
                    <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
                    {% trans "Admin note: Registration is closed for users." %}
                </div>
                {% endif %}
                {% load_texts "box_info" %}
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{% trans "Add new box" %}</h3>
            </div>
            <div class="panel-body">

                <div class="form-group">
                    <label for="box-add-description" class="col-sm-2 control-label">{% trans "Description for box label:" %}</label>
                    <div class="col-sm-10">
                        <input id="box-add-description" type="text" class="form-control" placeholder="{{ box_name_placeholder }}" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="box-add-bundleSize" class="col-sm-2 control-label">{% trans "Pricing:" %}</label>
                    <div class="col-sm-5"><div class="input-group">
                        <input id="box-add-bundleSize" type="number" min="1" value="1" class="form-control" placeholder="1" />
                        <div class="input-group-addon" id="box-add-bundleSize-postfix"></div>

                        {% if CURRENCY.html.0 %}
                        <div class="input-group-addon">{{ CURRENCY.html.0|safe }}</div>
                        {% endif %}
                        <input id="box-add-price" type="text" class="form-control" placeholder="5" />
                        {% if CURRENCY.html.1 %}
                        <div class="input-group-addon">{{ CURRENCY.html.1|safe }}</div>
                        {% endif %}
                    </div></div>
                </div>

                <div class="form-group">
                    {% trans "Bundles:" as tlBundles %}
                    {% trans "Items:" as tlItems %}
                    <label id="box-add-count-label" for="box-add-count" class="col-sm-2 control-label" data-tl-bundles="{{ tlBundles }}" data-tl-items="{{ tlItems }}">{{ tlItems }}</label>
                    <div class="col-sm-2">
                        <input id="box-add-count" type="number" min="{{ event.min_box_size }}" class="form-control" placeholder="{{ min_box_size_placeholder }}" />
                    </div>
                    <div class="col-sm-3">
                        <p class="form-control-static" id="box-total-item-count">
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="box-add-itemtype" class="col-sm-2 control-label">{% trans "Type:" %}</label>
                    <div class="col-sm-6">
                        <select id="box-add-itemtype" name="box-add-itemtype" class="form-control">
                            <option selected="selected" disabled="disabled">{% trans "Select…" %}</option>
                            {% for key, title in itemTypes %}
                                <option value="{{ key }}">{{ title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                {% if event.age_restricted_items %}
                    <label class="col-sm-1 control-label">{% trans "Adult:" %}</label>
                    <div class="col-sm-3">
                        <label class="radio-inline">
                            <input name="box-add-adult" value="true" type="radio" />{% trans "Yes" %}
                        </label>
                        <label class="radio-inline">
                            <input name="box-add-adult" value="false" type="radio" checked="checked" />{% trans "No" %}
                        </label>
                    </div>
                {% endif %}
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-11">
                        <div id="form-errors" class="text-danger"></div>
                        <button id="add_short_box" type="submit" class="btn btn-primary">{% trans "Add box" %}</button>
                        <button type="reset" class="btn btn-warning btn-xs col-sm-offset-3">{% trans "Empty" %}</button>
                    </div>
                </div>
            </div>
        </div>{# panel-body, panel #}
    </form>
    {% else %}
    {% include "kirppu/registration_closed.html" with classes="col-sm-8" %}
    <div class="panel panel-default hidden-print col-sm-8">
        <div class="panel-body">
            {% load_texts "box_info" %}
        </div>
    </div>
    {% endif %}

    <div id="boxes" data-require-terms="true">
        {# Output a template container for every non-printed box user has. #}
        {% for b in boxes %}
            {% include 'kirppu/app_boxes_box.html' with event=event box_type="normal" box_id=b.id description=b.description item_price=b.get_price_fmt bundle_size=b.bundle_size item_count=b.get_item_count item_type=b.get_item_type_for_display item_adult=b.get_item_adult printed=b.is_printed %}
        {% endfor %}
    </div>
{% endblock %}

{% block tail %}
    {{ block.super }}
    <script>
        boxesConfig.url_args.box_id = '__placeholder__';
        boxesConfig.urls.box_add = "{% url 'kirppu:box_add' event_slug=event.slug %}";
        boxesConfig.urls.box_content = "{% url 'kirppu:box_content' event_slug=event.slug box_id='__placeholder__' %}";
        boxesConfig.urls.box_hide = "{% url 'kirppu:box_hide' event_slug=event.slug box_id='__placeholder__' %}";
        boxesConfig.urls.box_print = "{% url 'kirppu:box_print' event_slug=event.slug box_id='__placeholder__' %}";
        boxesConfig.urls.roller = "{% static "kirppu/img/roller.gif" %}";
        {% if not is_registration_open %}boxesConfig.enabled = false;{% endif %}
        {% if PRICE_MIN_MAX %}
        boxesConfig.price_min = {{ PRICE_MIN_MAX.0 }};
        boxesConfig.price_max = {{ PRICE_MIN_MAX.1 }};
        {% endif %}

        $(document).ready(function() {
            setupAjax();

            bindFormEvents();

            bindBoxEvents($('#boxes > .box_editable'));
        });
    </script>
{% endblock %}
