{% extends "kirppu/plain.html" %}{% load kirppu_tags %}{% load i18n %}

{% load static %}

{% block head %}

    <link href="{% static "kirppu/css/general.css" %}" rel="stylesheet">
    <link href="{% static "kirppu/css/boxes.css" %}" rel="stylesheet">
    <link href="{% static "kirppu/css/price_tags.css" %}" rel="stylesheet">
    <script src="{% static "kirppu/js/general.js" %}"></script>
    <script src="{% static "kirppu/js/jeditable.js" %}"></script>
    <script src="{% static "kirppu/js/boxes.js" %}"></script>

{% endblock %}

{% block body %}

    <div id="box_content">

        <div class="box_content_table_page box_content_page">

            <div class="box_content_table_page_header">
                <div class="box_content_number" >
                </div>
                <div class="box_content_table_page_instructions" >{% trans "Tell this number to the clerk." %}</div>
            </div>

            <div class="row">
                <div class="col-sm-8"><span class="box_description">{{ box.description }}</span></div>
            </div>

            <div class="row box_empty_row">
            </div>
            <div class="row box_empty_row">
            </div>

            <div class="row">
                <div class="col-sm-2"><span class="box_title">{% trans "Price:" %}</span></div>
                <div class="col-sm-4"><span class="box_price">{{ box.get_price_fmt }}</span></div>
            </div>

             <div class="row">

                <div class="col-sm-2"><span class="box_title">{% trans "Vendor:" %}</span></div>
                <div class="col-sm-4"><span class="box_vendor_id">{{ box.get_vendor_id }}</span></div>
            </div>

        </div>

        {% split_list content as pages 12 %}

        {% for page_content in pages %}

            {% include 'kirppu/app_boxes_content_page.html' with id=box.id description=box.description price=box.get_price_fmt vendor_id=box.get_vendor_id items=page_content %}

        {% endfor %}

    </div>
{% endblock %}

{% block tail %}

    <script>
        $(document).ready(function() {
           window.print();
        });
    </script>

{% endblock %}
