{% extends "kirppu/common.html" %}{% load i18n kirppu_tags static %}

{% block title %}{% trans "Overseer Dashboard" %} – {{ block.super }}{% endblock %}

{% block head %}
    {{ block.super }}
    <link href="{% static "kirppu/css/checkout.css" %}" rel="stylesheet">
    <link href="{% static "kirppu/css/price_tags.css" %}" rel="stylesheet">
    <script src="{% static "kirppu/js/checkout.js" %}"></script>
    <script src="{% static "kirppu/js/checkout_comp.js" %}"></script>
    <script src="{% static "kirppu/jst/templates.js" %}"></script>
{% endblock %}

{% block navbar_left %}
    <li class="dropdown" id="modeMenu"><a href="javascript:void(1)" class="dropdown-toggle" data-toggle="dropdown">{% trans "Actions" %}<b class="caret"></b></a>
        <ul class="dropdown-menu">
        <li>
            <a href="javascript:void(1)" data-entrypoint="item_find">
                <span class="glyphicon glyphicon-search"></span>
                {% trans "Item Search" %}
            </a>
        </li>
        <li>
            <a href="javascript:void(1)" data-entrypoint="lost_and_found">
                <span class="glyphicon glyphicon-sunglasses"></span>
                {% trans "Lost and Found" %}
            </a>
        </li>
        <li>
            <a href="javascript:void(1)" data-entrypoint="receipt_list">
                <span class="glyphicon glyphicon-list-alt"></span>
                {% trans "Receipt List" %}
            </a>
        </li>
        </ul>
    </li>
{% endblock %}

{% block navbar_right %}
    <li><a href="{% url 'kirppu:checkout_view' event_slug=event.slug %}" title="{% trans "Return to checkout" %}">{% trans "Checkout" %}</a></li>
{% endblock %}

{% block body %}
    <h1>
        <span id="mode_glyph" class="glyphicon glyphicon-dashboard"></span>
        <span id="title_text">{% trans "Overseer Dashboard" %}</span>
    </h1>

    <div class="alert alert-danger alert-off" role="alert" id="error_container"></div>
    <div class="alert alert-warning alert-off" role="alert" id="warning_container"></div>
    <form role="form" id="code_form" class="hidden-print hidden">
        <div class="form-group">
            <label class="sr-only" for="code_input">Code</label>
            <input type="text" id="code_input" class="form-control"
                   placeholder="Barcode" autofocus="autofocus"/>
        </div>
    </form>

    <div id="receipt_body"></div>

    {% include 'kirppu/app_items_item.html' with tag_type="template" name="" price="0" code="" vendor_id="" adult="" locked=True %}
{% endblock %}

{% block tail %}
<div id="ignored" class="hidden"></div>

<script type="application/javascript"
        src="{% url 'kirppu:checkout_js' event_slug=event.slug %}"
        charset="UTF-8"></script>
<script type="application/javascript"><!--
    CheckoutConfig.uiId.container = "body";
    CheckoutConfig.uiId.body = "receipt_body";
    CheckoutConfig.uiId.errorText = "error_container";
    CheckoutConfig.uiId.warningText = "warning_container";
    CheckoutConfig.uiId.glyph = "mode_glyph";
    CheckoutConfig.uiId.stateText = "title_text";
    CheckoutConfig.uiId.codeInput = "code_input";
    CheckoutConfig.uiId.codeForm = "code_form";
    CheckoutConfig.uiId.modeMenu = "modeMenu";

    CheckoutConfig.uiId.subtitleText = "ignored";
    CheckoutConfig.uiId.overseerLink= "ignored";
    CheckoutConfig.uiId.statsLink= "ignored";
    CheckoutConfig.uiId.dialog = "dialog_template";
    CheckoutConfig.uiId.printButton = "ignored";

    CURRENCY = {{ CURRENCY|json }};

    DateTimeFormatter.locales = "{{ LANGUAGE_CODE }}";
    DateTimeFormatter.timeZone = "{{ TIME_ZONE }}";
    DateTimeFormatter.init();

    ItemSearchForm.itemtypes = [
        {% for id, description in itemtypes %}
            { "name": {{ id }},
              "description": "{{ description | escapejs }}" }
            {% if not forloop.last %} , {% endif %}
        {% endfor %}
    ];
    ItemSearchForm.itemstates = [
        {% for name, description in itemstates %}
            { "name": "{{ name | escapejs }}",
              "description": "{{ description | escapejs }}" }
            {% if not forloop.last %} , {% endif %}
        {% endfor %}
    ];

    ItemEditDialog.priceTagCss = [
        '{% static "kirppu/css/general.css" %}',
        '{% static "kirppu/css/price_tags.css" %}'
    ];

    $(document).ready(function() {
        setupAjax();
        CheckoutConfig.check();
        new ModeSwitcher().startDefault("item_find");
    });
//--></script>

    {% include "kirppu/dialog_template.html" %}
{% endblock %}
