{% extends "kirppu/app_vendor.html" %}{% load kirppu_tags %}{% load i18n %}

{% load static %}

{% block head %}
    {{ block.super }}
    <link href="{% static "kirppu/css/boxes.css" %}" rel="stylesheet">
    <script src="{% static "kirppu/js/jeditable.js" %}"></script>
    <script src="{% static "kirppu/js/boxes.js" %}"></script>
    <style type="text/css">
        {% include "kirppu/currency_style.css" with class="box_price" %}
    </style>
{% endblock %}

{% block body %}
    {% if is_registration_open %}
    {% include "kirppu/noscript_help.html" %}
    {% include "kirppu/terms_form.html" %}
    <form id="box-add-form" method="POST" class="form-horizontal" data-require-terms="true">
        {% csrf_token %}
        <div class="panel panel-default">
            <div class="panel-body">
                {% if is_registration_closed_for_users %}
                <div class="alert alert-warning hidden-print" role="alert">
                    <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
                    {% trans "Admin note: Registration is closed for users." %}
                </div>
                {% endif %}
                {% load_texts "box_info" %}
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{% trans "Add new box" %}</h3>
            </div>
            <div class="panel-body">

                <div class="form-group">
                    <label for="box-add-description" class="col-sm-2 control-label">{% trans "Description for box label:" %}</label>
                    <div class="col-sm-10">
                        <input id="box-add-description" type="text" class="form-control" placeholder="{{ box_name_placeholder }}" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="box-add-count" class="col-sm-2 control-label">{% trans "Items #:" %}</label>
                    <div class="col-sm-2 ">
                        <input id="box-add-count" type="text" class="form-control" placeholder="{% trans "10" %}" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="box-add-price" class="col-sm-2 control-label">{% trans "Price / unit:" %}</label>
                    <div class="col-sm-3"><div class="input-group">
                        {% if CURRENCY.html.0 %}
                        <div class="input-group-addon">{{ CURRENCY.html.0|safe }}</div>
                        {% endif %}
                        <input id="box-add-price" type="text" class="form-control" placeholder="5" />
                        {% if CURRENCY.html.1 %}
                        <div class="input-group-addon">{{ CURRENCY.html.1|safe }}</div>
                        {% endif %}
                    </div></div>
                </div>
                <div class="form-group">
                    <label for="box-add-itemtype" class="col-sm-2 control-label">{% trans "Type:" %}</label>
                    <div class="col-sm-6">
                        <select id="box-add-itemtype" name="box-add-itemtype" class="form-control">
                            <option selected="selected" disabled="disabled">{% trans "Select…" %}</option>
                            {% for key, title in itemTypes %}
                                <option value="{{ key }}">{{ title }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <label class="col-sm-1 control-label">{% trans "Adult:" %}</label>
                    <div class="col-sm-3">
                        <label class="radio-inline">
                            <input name="box-add-adult" value="true" type="radio" />{% trans "Yes" %}
                        </label>
                        <label class="radio-inline">
                            <input name="box-add-adult" value="false" type="radio" checked="checked" />{% trans "No" %}
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-11">
                        <div id="form-errors" class="text-danger"></div>
                        <button id="add_short_box" type="submit" class="btn btn-primary">{% trans "Add box" %}</button>
                    </div>
                </div>
            </div>
        </div>{# panel-body, panel #}
    </form>
    {% else %}
    <div class="alert alert-warning hidden-print col-sm-8" role="alert">
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
        {% trans "Registration is closed" %}
    </div>
    <div class="panel panel-default hidden-print col-sm-8">
        <div class="panel-body">
            {% load_texts "box_info" %}
        </div>
    </div>
    {% endif %}

    {# Output a single box_container as a template for javascript. #}
    {% include 'kirppu/app_boxes_box.html' with box_type="template" description="" price="0" id="" vendor_id="" adult="" locked=False %}

    <div id="boxes" data-require-terms="true">
        {# Output a template container for every non-printed box user has. #}
        {% for b in boxes %}
            {% include 'kirppu/app_boxes_box.html' with box_type="normal" box_id=b.id description=b.description price=b.get_price_fmt item_count=b.get_item_count item_type=b.get_item_type_for_display item_adult=b.get_item_adult printed=b.is_printed %}
        {% endfor %}
    </div>
{% endblock %}

{% block tail %}
    {{ block.super }}
    <script>
        boxesConfig.url_args.box_id = '__placeholder__';
        boxesConfig.urls.box_add = "{% url 'kirppu:box_add' %}";
        boxesConfig.urls.box_content = "{% url 'kirppu:box_content' '__placeholder__' %}";
        boxesConfig.urls.box_hide = "{% url 'kirppu:box_hide' '__placeholder__' %}";
        boxesConfig.urls.box_print = "{% url 'kirppu:box_print' '__placeholder__' %}";
        boxesConfig.urls.roller = "{% static "kirppu/img/roller.gif" %}";
        {% if not is_registration_open %}boxesConfig.enabled = false;{% endif %}
        {% if PRICE_MIN_MAX %}
        boxesConfig.price_min = {{ PRICE_MIN_MAX.0 }};
        boxesConfig.price_max = {{ PRICE_MIN_MAX.1 }};
        {% endif %}

        $(document).ready(function() {
            setupAjax();

            bindFormEvents();

            bindBoxEvents($('#boxes > .box_editable'));
        });
    </script>
{% endblock %}
