{% extends "kirppu/common.html" %}{% load i18n %}

{% load static %}

{% block title %}Kirppu - Stats{% endblock %}

{% block head %}
    <link href="{% static "kirppu/css/general.css" %}" rel="stylesheet">
    <script src="{% static "kirppu/js/general.js" %}"></script>
    <script src="{% static "kirppu/js/checkout.js" %}"></script>
    <script src="{% static "kirppu/js/dygraph-combined.js" %}"></script>

    <style type="text/css">
    .sum_table_below tr:last-child {
        font-weight: bold;
    }
    .sum_table_right td:last-child {
        font-weight: bold;
    }
    </style>
{% endblock %}

{% block navbar_right %}
    {% if checkout_active %}
    <li><a href="{% url 'kirppu:checkout_view' %}" title="Return to checkout">Checkout</a></li>
    {% endif %}
{% endblock %}

{% block body %}
    <h1>
        <span id="mode_glyph" class="glyphicon glyphicon glyphicon-signal"></span>
        <span id="title_text">Stats</span>
    </h1>

    <div id="graph1_legend"></div>
    <div id="graph1" style="width:100%; height:300px;"></div>

    <p class="hidden-print">
    <button id="graph1_items_link" class="btn btn-default btn-xs">items</button>
        &ndash;
    <button id="graph1_prices_link" class="btn btn-default btn-xs">prices</button>
    </p>

    <p style="margin-bottom: 1.5em;"></p>

    <div id="graph2_legend"></div>
    <div id="graph2" style="width:100%; height:300px;"></div>

    <p class="hidden-print">
    <button id="graph2_items_link" class="btn btn-default btn-xs">items</button>
        &ndash;
    <button id="graph2_prices_link" class="btn btn-default btn-xs">prices</button>
    </p>

    <script>
    $(document).ready(function() {
        setupAjax();

        var g1 = new Dygraph(
                document.getElementById("graph1"),
                '{% url "kirppu:api_stats_registration_data" %}',
                {
                    labels: ['Time', 'Registered', 'Brought to event', 'Unsold inventory', 'Sold inventory', 'Redeemed by vendor'],
                    labelsDiv: 'graph1_legend',
                    legend: 'always',
                    ylabel: 'Items',
                    strokeWidth: 2,
                    highlightSeriesOpts: {
                        strokeWidth: 3,
                        strokeBorderWidth: 2,
                        highlightCircleSize: 5
                    },
                    axes: {
                        x: {
                            valueFormatter: Dygraph.dateValueFormatter,
                            axisLabelFormatter: Dygraph.dateAxisLabelFormatter,
                            ticker: Dygraph.dateTicker
                        }
                    }
                }
        );

        var g2 = new Dygraph(
                document.getElementById("graph2"),
                '{% url "kirppu:api_stats_sales_data" %}',
                {
                    labels: ['Time', 'Registered', 'Brought to event', 'Unsold inventory', 'Sold inventory', 'Redeemed by vendor'],
                    labelsDiv: 'graph2_legend',
                    legend: 'always',
                    ylabel: 'Items',
                    strokeWidth: 2,
                    highlightSeriesOpts: {
                        strokeWidth: 3,
                        strokeBorderWidth: 2,
                        highlightCircleSize: 5
                    },
                    axes: {
                        x: {
                            valueFormatter: Dygraph.dateValueFormatter,
                            axisLabelFormatter: Dygraph.dateAxisLabelFormatter,
                            ticker: Dygraph.dateTicker
                        }
                    }
                }
        );

        document.getElementById('graph1_items_link').onclick = function() {
            g1.updateOptions({file: '{% url "kirppu:api_stats_registration_data" %}', ylabel: 'Items'});
        };
        document.getElementById('graph1_prices_link').onclick = function() {
            g1.updateOptions({file: '{% url "kirppu:api_stats_registration_data_prices" %}', ylabel: 'Prices sum'});
        };
        document.getElementById('graph2_items_link').onclick = function() {
            g2.updateOptions({file: '{% url "kirppu:api_stats_sales_data" %}', ylabel: 'Items'});
        };
        document.getElementById('graph2_prices_link').onclick = function() {
            g2.updateOptions({file: '{% url "kirppu:api_stats_sales_data_prices" %}', ylabel: 'Prices sum'});
        };

        //populateChart(g1, Api.stats_registration_data);
        //populateChart(g2, Api.stats_sales_data);
    });
    </script>



    <h2>{% trans "Number of items:" %}</h2>
    <table class="table table-striped sum_table_below sum_table_right">
        <tr>
            <th></th>
            {% with number_of_items|first as row %}
                {% for col in row.property_names %}
                    <th>{{ col }}</th>
                {% endfor %}
            {% endwith %}
        </tr>
        {% for row in number_of_items %}
             <tr>
                 <th>{{ row.name }}</th>
                 {% for col in row.property_values %}
                    <td>{{ col|safe }}</td>
                 {% endfor %}
            </tr>
        {% endfor %}
    </table>

    <h2>{% trans "Sum of prices:" %}</h2>
    <table class="table table-striped sum_table_below sum_table_right">
        <tr>
            <th></th>
            {% with number_of_euros|first as row %}
                {% for col in row.property_names %}
                    <th>{{ col }}</th>
                {% endfor %}
            {% endwith %}
        </tr>
        {% for row in number_of_euros %}
             <tr>
                 <th>{{ row.name }}</th>
                 {% for col in row.property_values %}
                    <td>{{ col|safe }}</td>
                 {% endfor %}
            </tr>
        {% endfor %}
    </table>

    <h2>{% trans "Vendors:" %}</h2>
    <div id="grouping_container">
    {% trans "Group by:" %}
    <div class="btn-group btn-group-sm" role="group" aria-label="Grouping" id="grouping_buttons">
        <button id="group_by_vendor" type="button" class="btn btn-default">{% trans "Vendor" %}</button>
        <button id="group_by_value" type="button" class="btn btn-default">{% trans "Value type" %}</button>
    </div>
    </div>
    <table class="table table-striped sum_table_right">
    <thead>
        <tr>
            <th></th>
            {% with vendor_item_data_counts|first as row %}
                {% for col in row.property_names %}
                    <th>{{ col }}</th>
                {% endfor %}
            {% endwith %}
        </tr>
    </thead>
    <tbody id="vendor_statistics">
    </tbody>
    </table>

    <script type="application/javascript"><!--
        (function() {
            const stat_table = $("#vendor_statistics");
            const stat_count = [
                {% for row in vendor_item_data_counts %}
                    ["{{ row.name|escapejs }}"{% for col in row.property_values %}, "{{ col|safe }}"{% endfor %}]{% if not forloop.last %},{% endif %}{% endfor %}
            ];
            const stat_euros = [
                {% for row in vendor_item_data_euros %}
                    ["{{ row.name|escapejs }}"{% for col in row.property_values %}, "{{ col|safe }}"{% endfor %}]{% if not forloop.last %},{% endif %}{% endfor %}
            ];
            const createRow = function(row) {
                const hRow = $("<tr>");
                hRow.append($("<th>").text(row[0]));
                for (let v = 1; v< row.length; v++) {
                    hRow.append($("<td>").html(row[v]));
                }
                return hRow;
            };
            const createHeaderRow = function(span, text) {
                return $("<tr class='info'>").append($("<th colspan='" + span + "'>").text(text));
            };
            const row_length = stat_count.length > 0 ? stat_count[0].length : 0;

            const by_value = $("#group_by_value");
            const by_vendor = $("#group_by_vendor");

            const show_by_value = function() {
                stat_table.empty();
                by_vendor.removeClass("active");
                by_value.addClass("active");

                stat_table.append(createHeaderRow(row_length, "{% trans "Number of items:" %}"));
                for (let i = 0; i < stat_count.length; i++) {
                    stat_table.append(createRow(stat_count[i]));
                }
                stat_table.append(createHeaderRow(row_length, "{% trans "Sum of prices:" %}"));
                for (let i = 0; i < stat_euros.length; i++) {
                    stat_table.append(createRow(stat_euros[i]));
                }
            };
            const show_by_vendor = function() {
                stat_table.empty();
                by_value.removeClass("active");
                by_vendor.addClass("active");

                for (let i = 0; i < stat_count.length; i++) {
                    stat_table.append(createRow(stat_count[i]));
                    stat_table.append(createRow(stat_euros[i]));
                }
            };

            by_value.on("click", show_by_value);
            by_vendor.on("click", show_by_vendor);
            show_by_vendor();
        })();
    //--></script>

{% endblock  %}
