{% extends "kirppu/common.html" %}{% load i18n %}

{% load static %}

{% block title %}Kirppu - Overseer Dashboard{% endblock %}

{% block head %}
    <link href="{% static "kirppu/css/general.css" %}" rel="stylesheet">
    <link href="{% static "kirppu/css/checkout.css" %}" rel="stylesheet">
    <link href="{% static "kirppu/css/price_tags.css" %}" rel="stylesheet">
    <script src="{% static "kirppu/js/general.js" %}"></script>
    <script src="{% static "kirppu/js/checkout.js" %}"></script>
    <script src="{% static "kirppu/js/checkout_comp.js" %}"></script>
{% endblock %}

{% block navbar_left %}
    <li class="dropdown" id="modeMenu"><a href="javascript:void(1)" class="dropdown-toggle" data-toggle="dropdown">Actions<b class="caret"></b></a>
        <ul class="dropdown-menu">
        <li>
            <a href="javascript:void(1)" data-entrypoint="item_find">
                <span class="glyphicon glyphicon-search"></span>
                Item Search
            </a>
        </li>
        <li>
            <a href="javascript:void(1)" data-entrypoint="lost_and_found">
                <span class="glyphicon glyphicon-sunglasses"></span>
                Lost and Found
            </a>
        </li>
        </ul>
    </li>
{% endblock %}

{% block navbar_right %}
    <li><a href="{% url 'kirppu:checkout_view' %}" title="Return to checkout">Checkout</a></li>
{% endblock %}

{% block body %}
    <h1>
        <span id="mode_glyph" class="glyphicon glyphicon-dashboard"></span>
        <span id="title_text">Overseer Dashboard</span>
    </h1>

    <div class="alert alert-danger alert-off" role="alert" id="error_container"></div>
    <div class="alert alert-warning alert-off" role="alert" id="warning_container"></div>
    <form role="form" id="code_form" class="hidden-print hidden">
        <div class="form-group">
            <label class="sr-only" for="code_input">Code</label>
            <input type="text" id="code_input" class="form-control"
                   placeholder="Barcode" autofocus="true"/>
        </div>
    </form>

    <div id="receipt_body"></div>

    {% include 'kirppu/app_items_item.html' with tag_type="template" name="" price="0" code="" vendor_id="" adult="" locked=True %}
{% endblock %}

{% block tail %}
<div id="ignored" class="hidden"></div>

<script type="application/javascript"
        src="{% url 'kirppu:checkout_js' %}"
        charset="UTF-8"></script>
<script type="application/javascript"><!--
    CheckoutConfig.uiId.container = "body";
    CheckoutConfig.uiId.body = "receipt_body";
    CheckoutConfig.uiId.errorText = "error_container";
    CheckoutConfig.uiId.warningText = "warning_container";
    CheckoutConfig.uiId.glyph = "mode_glyph";
    CheckoutConfig.uiId.stateText = "title_text";
    CheckoutConfig.uiId.codeInput = "code_input";
    CheckoutConfig.uiId.codeForm = "code_form";
    CheckoutConfig.uiId.modeMenu = "modeMenu";

    CheckoutConfig.uiId.subtitleText = "ignored";
    CheckoutConfig.uiId.overseerLink= "ignored";
    CheckoutConfig.uiId.dialog = "ignored";

    DateTimeFormatter.locales = "{{ LANGUAGE_CODE }}";
    DateTimeFormatter.timeZone = "{{ TIME_ZONE }}";
    DateTimeFormatter.init();

    ItemSearchForm.itemtypes = [
        {% for name, description in itemtypes %}
            { "name": "{{ name | escapejs }}",
              "description": "{{ description | escapejs }}" }
            {% if not forloop.last %} , {% endif %}
        {% endfor %}
    ];
    ItemSearchForm.itemstates = [
        {% for name, description in itemstates %}
            { "name": "{{ name | escapejs }}",
              "description": "{{ description | escapejs }}" }
            {% if not forloop.last %} , {% endif %}
        {% endfor %}
    ];

    $(document).ready(function() {
        setupAjax();
        CheckoutConfig.check();
        new ModeSwitcher();
    });
//--></script>
{% endblock %}
