{% extends "kirppu/common.html" %}{% load i18n %}

{% load static %}

{% block title %}Kirppu - Stats{% endblock %}

{% block head %}
    <link href="{% static "kirppu/css/general.css" %}" rel="stylesheet">
    <script src="{% static "kirppu/js/general.js" %}"></script>
    <script src="{% static "kirppu/js/checkout.js" %}"></script>
    <script src="{% static "kirppu/js/dygraph-combined.js" %}"></script>

    <style type="text/css">
    .sum_table_below tr:last-child {
        font-weight: bold;
    }
    .sum_table_right td:last-child {
        font-weight: bold;
    }
    </style>
{% endblock %}

{% block navbar_right %}
    {% if checkout_active %}
    <li><a href="{% url 'kirppu:checkout_view' %}" title="Return to checkout">Checkout</a></li>
    {% endif %}
{% endblock %}

{% block body %}
    <h1>
        <span id="mode_glyph" class="glyphicon glyphicon glyphicon-signal"></span>
        <span id="title_text">Stats</span>
    </h1>

    <div id="graph1_legend"></div>
    <div id="graph1" style="width:100%; height:300px;"></div>

    <p class="hidden-print">
    <button id="graph1_items_link" class="btn btn-default btn-xs">items</button>
        &ndash;
    <button id="graph1_prices_link" class="btn btn-default btn-xs">prices</button>
    </p>

    <p style="margin-bottom: 1.5em;"></p>

    <div id="graph2_legend"></div>
    <div id="graph2" style="width:100%; height:300px;"></div>

    <p class="hidden-print">
    <button id="graph2_items_link" class="btn btn-default btn-xs">items</button>
        &ndash;
    <button id="graph2_prices_link" class="btn btn-default btn-xs">prices</button>
    </p>

    <script>
    $(document).ready(function() {
        setupAjax();

        var g1 = new Dygraph(
                document.getElementById("graph1"),
                '{% url "kirppu:api_stats_registration_data" %}',
                {
                    labels: ['Time', 'Registered', 'Brought to event', 'Unsold inventory', 'Sold inventory', 'Redeemed by vendor'],
                    labelsDiv: 'graph1_legend',
                    legend: 'always',
                    ylabel: 'Items',
                    strokeWidth: 2,
                    highlightSeriesOpts: {
                        strokeWidth: 3,
                        strokeBorderWidth: 2,
                        highlightCircleSize: 5
                    },
                    axes: {
                        x: {
                            valueFormatter: Dygraph.dateValueFormatter,
                            axisLabelFormatter: Dygraph.dateAxisLabelFormatter,
                            ticker: Dygraph.dateTicker
                        }
                    }
                }
        );

        var g2 = new Dygraph(
                document.getElementById("graph2"),
                '{% url "kirppu:api_stats_sales_data" %}',
                {
                    labels: ['Time', 'Registered', 'Brought to event', 'Unsold inventory', 'Sold inventory', 'Redeemed by vendor'],
                    labelsDiv: 'graph2_legend',
                    legend: 'always',
                    ylabel: 'Items',
                    strokeWidth: 2,
                    highlightSeriesOpts: {
                        strokeWidth: 3,
                        strokeBorderWidth: 2,
                        highlightCircleSize: 5
                    },
                    axes: {
                        x: {
                            valueFormatter: Dygraph.dateValueFormatter,
                            axisLabelFormatter: Dygraph.dateAxisLabelFormatter,
                            ticker: Dygraph.dateTicker
                        }
                    }
                }
        );

        document.getElementById('graph1_items_link').onclick = function() {
            g1.updateOptions({file: '{% url "kirppu:api_stats_registration_data" %}', ylabel: 'Items'});
        };
        document.getElementById('graph1_prices_link').onclick = function() {
            g1.updateOptions({file: '{% url "kirppu:api_stats_registration_data_prices" %}', ylabel: 'Prices sum'});
        };
        document.getElementById('graph2_items_link').onclick = function() {
            g2.updateOptions({file: '{% url "kirppu:api_stats_sales_data" %}', ylabel: 'Items'});
        };
        document.getElementById('graph2_prices_link').onclick = function() {
            g2.updateOptions({file: '{% url "kirppu:api_stats_sales_data_prices" %}', ylabel: 'Prices sum'});
        };

        //populateChart(g1, Api.stats_registration_data);
        //populateChart(g2, Api.stats_sales_data);
    });
    </script>



    <h2>{% trans "Number of items:" %}</h2>
    <table class="table table-striped sum_table_below sum_table_right">
        <tr>
            <th></th>
            {% with number_of_items|first as row %}
                {% for col in row.property_names %}
                    <th>{{ col }}</th>
                {% endfor %}
            {% endwith %}
        </tr>
        {% for row in number_of_items %}
             <tr>
                 <th>{{ row.name }}</th>
                 {% for col in row.property_values %}
                    <td>{{ col|safe }}</td>
                 {% endfor %}
            </tr>
        {% endfor %}
    </table>

    <h2>{% trans "Sum of prices:" %}</h2>
    <table class="table table-striped sum_table_below sum_table_right">
        <tr>
            <th></th>
            {% with number_of_euros|first as row %}
                {% for col in row.property_names %}
                    <th>{{ col }}</th>
                {% endfor %}
            {% endwith %}
        </tr>
        {% for row in number_of_euros %}
             <tr>
                 <th>{{ row.name }}</th>
                 {% for col in row.property_values %}
                    <td>{{ col|safe }}</td>
                 {% endfor %}
            </tr>
        {% endfor %}
    </table>

    <h2>{% trans "Vendors:" %}</h2>
    <div id="grouping_container">
    <div class="btn-toolbar" role="toolbar" aria-label="Table content settings">
        <div class="btn-group btn-group-sm" role="group" aria-label="Grouping" id="grouping_buttons">
            <button id="group_by_vendor" type="button" class="btn btn-default">{% trans "Vendor" %}</button>
            <button id="group_by_value" type="button" class="btn btn-default">{% trans "Value type" %}</button>
        </div>
        <div class="btn-group btn-group-sm" role="group" aria-label="Filtering" id="filtering_buttons">
            <button id="filter_has_brought" type="button" class="btn btn-default">{% trans "Has brought items" %}</button>
            <button id="filter_has_sold" type="button" class="btn btn-default">{% trans "Has uncompensated items" %}</button>
        </div>
    </div>
    </div>
    <table class="table table-striped sum_table_right">
    <thead>
        <tr>
            <th></th>
            {% with vendor_item_data_counts|first as row %}
                {% for col in row.property_names %}
                    <th>{{ col }}</th>
                {% endfor %}
            {% endwith %}
        </tr>
    </thead>
    <tbody id="vendor_statistics">
    </tbody>
    </table>

    <script type="application/javascript"><!--
        (function() {
            const stat_table = $("#vendor_statistics");
            const stat_count = [
                {% for row in vendor_item_data_counts %}
                    ["{{ row.name|escapejs }}"{% for col in row.property_values %}, {{ col|safe }}{% endfor %}]{% if not forloop.last %},{% endif %}{% endfor %}
            ];
            const stat_euros = [
                {% for row in vendor_item_data_euros %}
                    ["{{ row.name|escapejs }}"{% for col in row.property_values %}, "{{ col|safe }}"{% endfor %}]{% if not forloop.last %},{% endif %}{% endfor %}
            ];
            const createRow = function(row) {
                const hRow = $("<tr>");
                hRow.append($("<th>").text(row[0]));
                for (let v = 1; v< row.length; v++) {
                    hRow.append($("<td>").html(row[v]));
                }
                return hRow;
            };
            const createHeaderRow = function(span, text) {
                return $("<tr class='info'>").append($("<th colspan='" + span + "'>").text(text));
            };
            const row_length = stat_count.length > 0 ? stat_count[0].length : 0;

            const btn_by_value = $("#group_by_value");
            const btn_by_vendor = $("#group_by_vendor");
            const btn_filter_brought = $("#filter_has_brought");
            const btn_filter_sold = $("#filter_has_sold");

            // Grouping (with actual output)
            const show_by_value = function(input) {
                const counts = input[0];
                const euros = input[1];

                stat_table.append(createHeaderRow(row_length, "{% trans "Number of items:" %}"));
                for (let i = 0; i < counts.length; i++) {
                    stat_table.append(createRow(counts[i]));
                }
                stat_table.append(createHeaderRow(row_length, "{% trans "Sum of prices:" %}"));
                for (let i = 0; i < euros.length; i++) {
                    stat_table.append(createRow(euros[i]));
                }
            };
            const show_by_vendor = function(input) {
                const counts = input[0];
                const euros = input[1];

                for (let i = 0; i < counts.length; i++) {
                    stat_table.append(createRow(counts[i]));
                    stat_table.append(createRow(euros[i]));
                }
            };

            // Filtering
            const index_brought = 2;  {# FIXME: These probably should be retrieved from data engine #}
            const index_staged = 3;
            const index_sold = 4;

            const do_filter = function(input, test) {
                const input_counts = input[0];
                const input_euros = input[1];
                const result_counts = [];
                const result_euros = [];
                for (let i = 0; i < input_counts.length; i++) {
                    const row = input_counts[i];
                    if (test(row)) {
                        result_counts.push(row);
                        result_euros.push(input_euros[i]);
                    }
                }
                return [result_counts, result_euros];
            };

            const filter_none = function(input) {
                return input;
            };
            const filter_brought = function(input) {
                return do_filter(input, function(row) {
                    return row[index_brought] > 0
                });
            };
            const filter_sold = function(input) {
                return do_filter(input, function(row) {
                    return row[index_sold] > 0 || row[index_staged] > 0;
                });
            };
            const filter_brought_or_sold = function(input) {
                return do_filter(input, function(row) {
                    return row[index_brought] > 0 || row[index_sold] > 0 || row[index_staged] > 0;
                });
            };

            // State
            let current_filter = filter_none;
            let current_group = show_by_vendor;
            btn_by_vendor.addClass("active");

            // State handling
            const refresh = function() {
                stat_table.empty();
                const filtered = current_filter([stat_count, stat_euros]);
                current_group(filtered);
            };

            btn_by_value.on("click", function() {
                current_group = show_by_value;
                btn_by_vendor.removeClass("active");
                btn_by_value.addClass("active");
                refresh();
            });
            btn_by_vendor.on("click", function() {
                current_group = show_by_vendor;
                btn_by_value.removeClass("active");
                btn_by_vendor.addClass("active");
                refresh();
            });

            const set_filters = function() {
                const br = btn_filter_brought.hasClass("active");
                const so = btn_filter_sold.hasClass("active");
                if (br && so) {
                    current_filter = filter_brought_or_sold;
                } else if (br) {
                    current_filter = filter_brought;
                } else if (so) {
                    current_filter = filter_sold;
                } else {
                    current_filter = filter_none;
                }
            };

            btn_filter_brought.on("click", function() {
                if (btn_filter_brought.hasClass("active")) {
                    btn_filter_brought.removeClass("active");
                } else {
                    btn_filter_brought.addClass("active");
                }
                set_filters();
                refresh();
            });
            btn_filter_sold.on("click", function () {
                if (btn_filter_sold.hasClass("active")) {
                    btn_filter_sold.removeClass("active");
                } else {
                    btn_filter_sold.addClass("active");
                }
                set_filters();
                refresh();
            });

            refresh();
        })();
    //--></script>

{% endblock  %}
