{% extends "kirppu/common.html" %}{% load i18n kirppu_tags static %}

{% block title %}{% trans "Checkout" %} – {{ block.super }}{% endblock %}

{% block head %}
    {{ block.super }}
    <link href="{% static "kirppu/css/checkout.css" %}" rel="stylesheet">
    <script src="{% static "kirppu/js/checkout.js" %}"></script>
    <script src="{% static "kirppu/js/checkout_comp.js" %}"></script>
    <script src="{% static "kirppu/jst/templates.js" %}"></script>
    <style type="text/css">
        {% include "kirppu/currency_style.css" %}
    </style>
{% endblock %}

{% block navbar_left %}
    <li class="dropdown" id="modeMenu"><a href="javascript:void(1)" class="dropdown-toggle" data-toggle="dropdown">{% trans "Counter mode" %} <b class="caret"></b></a>
        <ul class="dropdown-menu">
        <li>
            <a href="javascript:void(1)" data-entrypoint="customer_checkout" class="color-CounterMode"><span class="glyphicon glyphicon-euro"></span> {% trans "Checkout counter" %}</a>
        </li>
        <li>
            <a href="javascript:void(1)" data-entrypoint="vendor_check_in" class="color-ItemCheckInMode"><span class="glyphicon glyphicon-import"></span> {% trans "Vendor Check-In" %}</a>
        </li>
        <li>
            <a href="javascript:void(1)" data-entrypoint="reports" class="color-ReceiptPrintMode"><span class="glyphicon glyphicon-list-alt"></span> {% trans "Receipt Search" %}</a>
        </li>
        <li>
            <a href="javascript:void(1)" data-entrypoint="vendor_find" class="color-VendorFindMode"><span class="glyphicon glyphicon-user"></span> {% trans "Vendor Search" %}</a>
        </li>
        </ul>
    </li>
{% endblock %}
{% block navbar_right %}
    <li id="stats_link" class="hidden check_enabled">
        <a href="{% url 'kirppu:stats_view' event_slug=event.slug %}" title="Stats">{% trans "Stats" %}</a>
    </li>
    <li id="overseer_link" class="hidden check_enabled">
        <a href="{% url 'kirppu:overseer_view' event_slug=event.slug %}" title="Overseer Dashboard">{% trans "Overseer Dashboard" %}</a>
    </li>
    <li>
        <button type="button" class="btn navbar-btn btn-link" data-toggle="modal" data-target="#help_dialog"><span class="glyphicon glyphicon-question-sign"></span> {% trans "Help" %}</button>
    </li>
{% endblock %}

{% block body %}
    <h1>
        <span id="mode_glyph" class="glyphicon glyphicon-euro"></span>
        <span id="title_text">Checkout</span>
        <button id="print_button" type="button" class="btn btn-success btn-sm hidden-print hidden">
            <span class="glyphicon glyphicon-print"></span>
        </button>
        <small id="subtitle_text" class="hidden-print"></small>
    </h1>
    <div class="alert alert-warning alert-off hidden-print" role="alert" id="capslock_container"><span class="glyphicon glyphicon-warning-sign"></span> {% trans "CapsLock is probably ON!" %}</div>
    <div class="alert alert-danger alert-off" role="alert" id="error_container"></div>
    <div class="alert alert-warning alert-off" role="alert" id="warning_container"></div>
    <form role="form" id="code_form" class="hidden-print hidden">
        <div class="form-group">
            <label class="sr-only" for="code_input">Code</label>
            <input type="text" id="code_input" class="form-control"
                   placeholder="Barcode" autofocus="autofocus"/>
        </div>
        <div class="form-group hidden">
            <label class="sr-only" for="action_message">Message</label>
            <p class="form-control-static lead" id="action_message"></p>
        </div>
    </form>

    <div id="receipt_body"></div>
    <noscript>{% trans "You need to enable browser JavaScript support for this feature to work." %}</noscript>
{% endblock  %}

{% block tail %}
<script type="application/javascript"
        src="{% url 'kirppu:checkout_js' event_slug=event.slug %}"
        charset="UTF-8"></script>
<script type="application/javascript"><!--
    CheckoutConfig.uiId.container = "body";
    CheckoutConfig.uiId.body = "receipt_body";
    CheckoutConfig.uiId.errorText = "error_container";
    CheckoutConfig.uiId.warningText = "warning_container";
    CheckoutConfig.uiId.glyph = "mode_glyph";
    CheckoutConfig.uiId.stateText = "title_text";
    CheckoutConfig.uiId.subtitleText = "subtitle_text";
    CheckoutConfig.uiId.codeInput = "code_input";
    CheckoutConfig.uiId.codeForm = "code_form";
    CheckoutConfig.uiId.codeFormMessage = "action_message";
    CheckoutConfig.uiId.modeMenu = "modeMenu";
    CheckoutConfig.uiId.overseerLink= "overseer_link";
    CheckoutConfig.uiId.statsLink= "stats_link";
    CheckoutConfig.uiId.languageSelection = "language-selector";
    CheckoutConfig.uiId.dialog = "dialog_template";
    CheckoutConfig.uiId.printButton = "print_button";
    CheckoutConfig.settings.purchaseMax = {{ PURCHASE_MAX }};
    CURRENCY = {{ CURRENCY|json }};
    DateTimeFormatter.locales = "{{ LANGUAGE_CODE }}";
    DateTimeFormatter.timeZone = "{{ TIME_ZONE }}";
    DateTimeFormatter.init();
    UtilSound.error = new Audio("{% static "kirppu/audio/error-buzzer.mp3" %}");
    UtilSound.success = new Audio("{% static "kirppu/audio/bleep.mp3" %}");

{% if auto_clerk %}
    ClerkLoginMode.autoClerk = "{{ auto_clerk }}";
{% endif %}

    $(document).ready(function() {
        setupAjax();
        CheckoutConfig.check();
        addEnableCheck();
        new ModeSwitcher().startDefault();

        addEventListener("keydown", function(event) {
            if (event.defaultPrevented) return;
            const menu = $("#modeMenu > a");
            const wasExpanded = menu.attr("aria-expanded") === "true";
            let handled = false;
            if (event.code === "F2") {
                menu.click();
                if (wasExpanded) $("#code_input").focus();
                handled = true;
            } else if (wasExpanded && /^Digit\d$/.exec(event.code)) {
                const digit = Number.parseInt(event.code[5]);
                const options = $("#modeMenu li");
                if (digit >= 1 && digit <= options.length) {
                    $(options.get(digit - 1)).find("a").click();
                    handled = true;
                }
            } else if (event.code === "F1") {
                $("#help_dialog").modal("toggle");
                handled = true;
            }
            if (handled) event.preventDefault();
        });
        $("#modeMenu > a").prepend($("<kbd>F2</kbd>").addClass("shortcut"));
        $("#modeMenu li a").prepend(function(i) { return $("<kbd>" + (i + 1) + "</kbd>").addClass("shortcut") });

        $("#code_form").removeClass("hidden");
    });
//--></script>
    <div class="modal fade" id="help_dialog" tabindex="-1" role="dialog" aria-labelledby="help_dialog_label"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">{% trans "Close" %}</span></button>
                    <h4 class="modal-title" id="help_dialog_label">{% trans "Counter Help" %}</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-condensed">
                        <thead>
                        <tr>
                            <th>{% trans "Action" %}</th>
                            <th>{% trans "Input" %}</th>
                            <th>{% trans "Example" %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{% trans "Log out from counter" %}</td>
                            <td><kbd data-command-value="logout"></kbd></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>{% trans "Suspend current receipt (continue it by reading an item from the receipt)" %}</td>
                            <td><kbd data-command-value="suspend"></kbd></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>{% trans "Abort current receipt" %}</td>
                            <td><kbd data-command-value="abort"></kbd></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>{% trans "Add single item to receipt" %}</td>
                            <td><kbd>ITEM_CODE</kbd></td>
                            <td><code>7EB7DR1O</code></td>
                        </tr>
                        <tr>
                            <td>{% trans "Add single item from a box" %}</td>
                            <td><kbd>box#</kbd></td>
                            <td><code>box14</code></td>
                        </tr>
                        <tr>
                            <td>{% trans "Add multiple items from same box" %}</td>
                            <td><kbd>#*box#</kbd></td>
                            <td><code>3*box14</code></td>
                        </tr>
                        <tr>
                            <td>{% trans "Remove item from receipt" %}</td>
                            <td><kbd>-&#8288;ITEM_CODE</kbd></td>
                            <td><code>-&#8288;UUQ7E7V4</code></td>
                        </tr>
                        <tr>
                            <td>{% trans "Payment" %}</td>
                            <td><kbd>+EUROS,CENTS</kbd></td>
                            <td><code>+&#8288;12,00</code> for 12,00&euro;</td>
                        </tr>
                        <tr>
                            <td>{% trans "Quick payment" %}</td>
                            <td><kbd>+</kbd></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">{% trans "Close" %}</button>
                </div>
            </div>
        </div>
    </div>
    {% include "kirppu/dialog_template.html" %}
{% endblock %}
