{% load kirppu_tags %}{% load i18n %}

    <div class="box_content_header id="{{ box_id }}">

        <div class="box_content_number">
        </div>
        <div class="box_content_description">

            <div class="row">
                <div class="col-sm-8"><span class="box_title">{% trans "Box description:" %}</div>
            </div>
            <div class="row">
                <div class="col-sm-2"><span class="box_description">{{ description }}</span></div>
            </div>

            <div class="row box_empty_row">
            </div>

            <div class="row">
                <div class="col-sm-2"><span class="box_title">{% trans "Price:" %}</span></div>
                <div class="col-sm-4"><span class="box_price">{{ price }}</span></div>
            </div>

             <div class="row">

                <div class="col-sm-2"><span class="box_title">{% trans "Vendor:" %}</span></div>
                <div class="col-sm-4"><span class="box_vendor_id">{{ vendor_id }}</span></div>
            </div>

        </div>
    </div>
