{% extends "kirppu/common.html" %}{% load i18n static kirppu_tags %}

{% block title %}{% trans "Stats" %} – {{ block.super }}{% endblock %}

{% block head %}
    {{ block.super }}
    <script src="{% static "kirppu/js/checkout.js" %}"></script>
    <script src="{% static "kirppu/js/dygraph-combined.js" %}"></script>

    <style type="text/css">
    .sum_table_below tr:last-child {
        font-weight: bold;
    }
    .sum_table_right td:last-child {
        font-weight: bold;
    }
    dd + dt {
        margin-top: 0.5em;
    }
    @media print {
        /* Override bootstrap behaviour. */
        a[href]:after { content: ""; }
    }
    </style>
{% endblock %}

{% block navbar_right %}
    {% if event.checkout_active %}
    <li><a href="{% url 'kirppu:checkout_view' event_slug=event_slug %}" title="{% trans "Return to checkout" %}">{% trans "Checkout" %}</a></li>
    {% endif %}
    <li><a href="{% url 'kirppu:statistical_stats_view' event_slug=event_slug %}" title="{% trans "General statistics" %}">{% trans "General statistics" %}</a></li>
{% endblock %}

{% block body %}
{% trans "Number of items" as tlItemCount %}
{% trans "Sum of prices" as tlPricesSum %}
{% trans "Brought to event" as tlBrought %}
{% trans "Unsold inventory" as tlUnsold %}
{% trans "Sold inventory" as tlSold %}
{% trans "Returned/Redeemed" as tlRedeemed %}

    <h1>
        <span id="mode_glyph" class="glyphicon glyphicon glyphicon-signal"></span>
        <span id="title_text">{% trans "Stats" %}</span>
    </h1>

    <div id="graph1_legend"></div>
    <div id="graph1" style="width:100%; height:300px;"></div>

    <div class="btn-group btn-group-xs hidden-print">
        <button type="button" id="graph1_items_link" class="btn btn-default active">{{ tlItemCount }}</button>
        <button type="button" id="graph1_prices_link" class="btn btn-default">{{ tlPricesSum }}</button>
    </div>

    <p style="margin-bottom: 1.5em;"></p>

    <div id="graph2_legend"></div>
    <div id="graph2" style="width:100%; height:300px;"></div>

    <div class="btn-group btn-group-xs hidden-print" style="width: 80%;">{# width set to allow popover be more wider than the buttons #}
        <button type="button" id="graph2_items_link" class="btn btn-default active">{{ tlItemCount }}</button>
        <button type="button" id="graph2_prices_link" class="btn btn-default">{{ tlPricesSum }}</button>
        <button type="button" id="graph2_legend_tip" class="btn btn-link"><span class="glyphicon glyphicon-info-sign"></span> </button>
    </div>
    <div id="legend_content" style="display: none;">
    <dl>
        <dt>{{ tlBrought }}</dt>
        <dd>{% trans "Items cumulatively brought to the event." %}</dd>
        <dt>{{ tlUnsold }}</dt>
        <dd>{% trans "Items brought but not sold nor returned." %}</dd>
        <dt>{{ tlSold }}</dt>
        <dd>{% trans "Items sold but not redeemed." %}</dd>
        <dt>{{ tlRedeemed }}</dt>
        <dd>{% trans "Items returned or redeemed." %}</dd>
    </dl>
    </div>

    <script>
    $(document).ready(function() {
        setupAjax();

        const g1 = new Dygraph(
                document.getElementById("graph1"),
                [[0, null]],
                {
                    labels: ["{% trans "Time" %}", "{% trans "Registered" %}"],
                    labelsDiv: 'graph1_legend',
                    legend: 'always',
                    strokeWidth: 2,
                    highlightSeriesOpts: {
                        strokeWidth: 3,
                        strokeBorderWidth: 2,
                        highlightCircleSize: 5
                    },
                    axes: {
                        x: {
                            valueFormatter: Dygraph.dateValueFormatter,
                            axisLabelFormatter: Dygraph.dateAxisLabelFormatter,
                            ticker: Dygraph.dateTicker
                        }
                    }
                }
        );
        const g1Count = function() {
            graphLoader('{% url "kirppu:api_stats_registration_data" event_slug=event_slug %}', g1);
            g1.updateOptions({ ylabel: "{{ tlItemCount }}" });
        };
        const g1Sum = function() {
            graphLoader('{% url "kirppu:api_stats_registration_data" event_slug=event_slug %}?prices=true', g1);
            g1.updateOptions({ ylabel: "{{ tlPricesSum }}" });
        };

        const graphColors = ["rgb(102,128,0)", "rgb(0,51,128)", "rgb(0,128,51)", "rgb(102,0,128)"];
        const g2 = new Dygraph(
                document.getElementById("graph2"),
                [[0, null, null, null, null]],
                {
                    labels: ["{% trans "Time" %}",
                        "{{ tlBrought }}", "{{ tlUnsold }}",
                        "{{ tlSold }}", "{{ tlRedeemed }}"],
                    labelsDiv: 'graph2_legend',
                    legend: 'always',
                    strokeWidth: 2,
                    colors: graphColors,
                    highlightSeriesOpts: {
                        strokeWidth: 3,
                        strokeBorderWidth: 2,
                        highlightCircleSize: 5
                    },
                    axes: {
                        x: {
                            valueFormatter: Dygraph.dateValueFormatter,
                            axisLabelFormatter: Dygraph.dateAxisLabelFormatter,
                            ticker: Dygraph.dateTicker
                        }
                    }
                }
        );
        const g2Count = function() {
            graphLoader('{% url "kirppu:api_stats_sales_data" event_slug=event_slug %}', g2);
            g2.updateOptions({ ylabel: "{{ tlItemCount }}" });
        };
        const g2Sum = function() {
            graphLoader('{% url "kirppu:api_stats_sales_data" event_slug=event_slug %}?prices=true', g2);
            g2.updateOptions({ ylabel: "{{ tlPricesSum }}" });
        };

        g1Count();
        g2Count();

        const g1_items = $("#graph1_items_link");
        const g1_prices = $("#graph1_prices_link");
        const g2_items = $("#graph2_items_link");
        const g2_prices = $("#graph2_prices_link");

        function activate(active, non_active) {
            active.addClass("active");
            non_active.removeClass("active");
        }

        g1_items.on("click", function() {
            activate(g1_items, g1_prices);
            g1Count();
        });
        g1_prices.on("click", function() {
            activate(g1_prices, g1_items);
            g1Sum();
        });
        g2_items.on("click", function() {
            activate(g2_items, g2_prices);
            g2Count();
        });
        g2_prices.on("click", function() {
            activate(g2_prices, g2_items);
            g2Sum();
        });

        const legend = $("#legend_content");
        legend.find("dt").each(function(index) {
            this.style = "color: " + graphColors[index];
        });

        const popoverWhitelist = Object.assign({}, $.fn.tooltip.Constructor.DEFAULTS.whiteList);
        popoverWhitelist.dd = [];
        popoverWhitelist.dt = ["style"];
        popoverWhitelist.dl = [];

        $("#graph2_legend_tip").popover({
            placement: "bottom",
            title: "{% trans "Graph legend" %}",
            html: true,
            content: legend.html(),
            whiteList: popoverWhitelist
        });
    });
    function typePopup(url) {
        window.open(url, "kirppuTypeStats",
            "menubar=false,location=false,height=450px,width=800px");
        return false;
    }
    </script>



    <h2>{% trans "Number of items:" %}</h2>
    <table class="table table-striped sum_table_below sum_table_right">
        <tr>
            <th></th>
            {% with number_of_items|first as row %}
                {% for col in row.property_names %}
                    <th>{{ col }}</th>
                {% endfor %}
            {% endwith %}
        </tr>
        {% for row in number_of_items %}
             <tr>
                 <th>{% if row.key != "sum" %}<a onclick='return typePopup("{% url "kirppu:type_stats_view" event_slug=event_slug type_id=row.key %}")' href="{% url "kirppu:type_stats_view" event_slug=event_slug type_id=row.key %}">{{ row.name }}</a>
                 {% else %}{{ row.name }}{% endif %}</th>
                 {% for col in row.property_values %}
                    <td>{{ col|safe }}</td>
                 {% endfor %}
            </tr>
        {% endfor %}
    </table>

    <h2>{% trans "Sum of prices:" %}</h2>
    <table class="table table-striped sum_table_below sum_table_right">
        <tr>
            <th></th>
            {% with number_of_euros|first as row %}
                {% for col in row.property_names %}
                    <th>{{ col }}</th>
                {% endfor %}
            {% endwith %}
        </tr>
        {% for row in number_of_euros %}
             <tr>
                 <th>{{ row.name }}</th>
                 {% for col in row.property_values %}
                    <td>{{ col|safe }}</td>
                 {% endfor %}
            </tr>
        {% endfor %}
    </table>

    <h2>{% trans "Vendors:" %}</h2>
    <style>
    @media print {
        #grouping_container button.active::before {
            content: "\02022  "
        }
    }
    </style>
    <p>{% trans "Values in parenthesis indicate extra deleted items (+) and part of the value that has been abandoned (-)." %}</p>
    <p>{% trans "e.g. <em>5 (+3)</em> means 3 deleted items on top of 5 registered items, <em>5 (-1)</em> means 1 abandoned item in the total of 5." %}</p>
    <div id="grouping_container">
    <div class="btn-toolbar" role="toolbar" aria-label="Table content settings">
        <div class="btn-group btn-group-sm" role="group" aria-label="Grouping" id="grouping_buttons">
            <button id="group_by_vendor" type="button" class="btn btn-default">{% trans "Vendor" %}</button>
            <button id="group_by_value" type="button" class="btn btn-default">{% trans "Value type" %}</button>
        </div>
        <div class="btn-group btn-group-sm" role="group" aria-label="Filtering" id="filtering_buttons">
            <button id="filter_has_brought" type="button" class="btn btn-default">{% trans "Has brought items" %}</button>
            <button id="filter_has_sold" type="button" class="btn btn-default">{% trans "Has uncompensated items" %}</button>
        </div>
    </div>
    </div>
    <table id="vendor_statistics" class="table table-striped sum_table_right">
    <thead>
        <tr>
            <th id="table_row_count"></th>
            {% with vendor_item_data_counts|first as row %}
                {% for col in row.property_names %}
                    <th>{{ col }}</th>
                {% endfor %}
            {% endwith %}
        </tr>
    </thead>
    <tbody>
    </tbody>
    </table>
    <script type="application/json" id="stat_order">
        {{ vendor_item_data_order|safe }}
    </script>
    <script type="application/json" id="stat_count">[{% for row in vendor_item_data_counts %}
        {{ row.row_obj|json }}{% if not forloop.last %},{% endif %}{% endfor %}
    ]</script>
    <script type="application/json" id="stat_euros">[{% for row in vendor_item_data_euros %}
        {{ row.row_obj|json }}{% if not forloop.last %},{% endif %}{% endfor %}
    ]</script>

    <script type="application/javascript"><!--
        (function() {
            const CURRENCY = ["{{ CURRENCY.0 }}", "{{ CURRENCY.1 }}"];
            const row_length = {{ vendor_item_data_row_size }};

            // Indices in stat_*; there is one leading item before row contents begin.
            const indices = JSON.parse($("#stat_order").get(0).text);
            const index_advertised = indices.indexOf("advertised");
            const index_brought = indices.indexOf("brought");
            const index_staged = indices.indexOf("staged");
            const index_sold = indices.indexOf("sold");
            const index_hidden_advertised = indices.indexOf("advertised_hidden");
            const index_abandoned_brought = indices.indexOf("brought_abandoned");
            const index_abandoned_staged = indices.indexOf("staged_abandoned");
            const index_abandoned_sold = indices.indexOf("sold_abandoned");

            const map_hidden = {};
            const map_abandoned = {};
            map_hidden[index_advertised] = index_hidden_advertised;
            map_abandoned[index_brought] = index_abandoned_brought;
            map_abandoned[index_staged] = index_abandoned_staged;
            map_abandoned[index_sold] = index_abandoned_sold;

            const stat_table = $("#vendor_statistics tbody");
            const stat_count = JSON.parse($("#stat_count").get(0).text);
            const stat_euros = JSON.parse($("#stat_euros").get(0).text);

            const format_plain = function(value) { return value; };
            const format_currency = function(value) {
                return CURRENCY[0] + value.formatCents() + CURRENCY[1];
            };

            const createRow = function(row, skip_name, formatter) {
                const hRow = $("<tr>");
                if (!skip_name) {
                    hRow.append($("<th>").text(row[0]));
                } else {
                    hRow.append($("<th>"))
                }
                // 1 is name, not included in row_length.
                for (let v = 1; v <= row_length; v++) {
                    let ab = 0
                    let dl = 0
                    if (v in map_abandoned) {
                        const extra_col = map_abandoned[v];
                        ab = row[extra_col]
                    }
                    if (v in map_hidden) {
                        const extra_col = map_hidden[v];
                        dl = row[extra_col]
                    }

                    if (ab || dl) {
                        let extra = ""
                        if (ab) {
                            extra += "-" + formatter(ab)
                        }
                        if (dl) {
                            if (ab) {
                                extra += " "
                            }
                            extra += "+" + formatter(dl)
                        }
                        hRow.append($("<td>").html(formatter(row[v]) + " (" + extra + ")"));
                    } else {
                        hRow.append($("<td>").html(formatter(row[v])));
                    }
                }
                return hRow;
            };
            const createHeaderRow = function(span, text) {
                return $("<tr class='info'>").append($("<th colspan='" + span + "'>").text(text));
            };

            const btn_by_value = $("#group_by_value");
            const btn_by_vendor = $("#group_by_vendor");
            const btn_filter_brought = $("#filter_has_brought");
            const btn_filter_sold = $("#filter_has_sold");
            const th_row_count = $("#table_row_count");

            // Grouping (with actual output)
            const show_by_value = function(input) {
                const counts = input[0];
                const euros = input[1];

                stat_table.append(createHeaderRow(row_length + 1, "{% trans "Number of items:" %}"));
                for (let i = 0; i < counts.length; i++) {
                    stat_table.append(createRow(counts[i], false, format_plain));
                }
                stat_table.append(createHeaderRow(row_length + 1, "{% trans "Sum of prices:" %}"));
                for (let i = 0; i < euros.length; i++) {
                    stat_table.append(createRow(euros[i], false, format_currency));
                }
            };
            const show_by_vendor = function(input) {
                const counts = input[0];
                const euros = input[1];

                for (let i = 0; i < counts.length; i++) {
                    stat_table.append(createRow(counts[i], false, format_plain));
                    stat_table.append(createRow(euros[i], true, format_currency));
                }
            };

            // Filtering
            const do_filter = function(input, test) {
                const input_counts = input[0];
                const input_euros = input[1];
                const result_counts = [];
                const result_euros = [];
                for (let i = 0; i < input_counts.length; i++) {
                    const row = input_counts[i];
                    if (test(row)) {
                        result_counts.push(row);
                        result_euros.push(input_euros[i]);
                    }
                }
                return [result_counts, result_euros];
            };

            const filter_none = function(input) {
                return input;
            };
            const filter_brought = function(input) {
                return do_filter(input, function(row) {
                    return row[index_brought] > 0
                });
            };
            const filter_sold = function(input) {
                return do_filter(input, function(row) {
                    return row[index_sold] > 0 || row[index_staged] > 0;
                });
            };
            const filter_brought_or_sold = function(input) {
                return do_filter(input, function(row) {
                    return row[index_brought] > 0 || row[index_sold] > 0 || row[index_staged] > 0;
                });
            };

            // State
            let current_filter = filter_none;
            let current_group = show_by_vendor;
            btn_by_vendor.addClass("active");

            // State handling
            const refresh = function() {
                stat_table.empty();
                const filtered = current_filter([stat_count, stat_euros]);
                const len = filtered[0].length;
                th_row_count.text(dPrintF(ngettext("%d vendor", "%d vendors", len), {d: len}));
                current_group(filtered);
            };

            btn_by_value.on("click", function() {
                current_group = show_by_value;
                btn_by_vendor.removeClass("active");
                btn_by_value.addClass("active");
                refresh();
            });
            btn_by_vendor.on("click", function() {
                current_group = show_by_vendor;
                btn_by_value.removeClass("active");
                btn_by_vendor.addClass("active");
                refresh();
            });

            const set_filters = function() {
                const br = btn_filter_brought.hasClass("active");
                const so = btn_filter_sold.hasClass("active");
                if (br && so) {
                    current_filter = filter_brought_or_sold;
                } else if (br) {
                    current_filter = filter_brought;
                } else if (so) {
                    current_filter = filter_sold;
                } else {
                    current_filter = filter_none;
                }
            };

            btn_filter_brought.on("click", function() {
                if (btn_filter_brought.hasClass("active")) {
                    btn_filter_brought.removeClass("active");
                } else {
                    btn_filter_brought.addClass("active");
                }
                set_filters();
                refresh();
            });
            btn_filter_sold.on("click", function () {
                if (btn_filter_sold.hasClass("active")) {
                    btn_filter_sold.removeClass("active");
                } else {
                    btn_filter_sold.addClass("active");
                }
                set_filters();
                refresh();
            });

            refresh();
        })();
    //--></script>

{% endblock  %}
