{% extends "kirppu/common.html" %}{% load i18n kirppu_login static %}

{% block body %}
    {% for event in events %}
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="{{ event.get_absolute_url }}">{{ event.name }}</a>
                </div>
                <div class="panel-body">
                    {{ event.start_date }}–{{ event.end_date }}
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block navbar_right %}
{% include "kirppu/navbar_login.html" %}
{% endblock %}
