{% extends "kirppu/common.html" %}{% load i18n kirppu_login static %}

{% block navbar_left %}
    {% if user.is_staff %}
    <li class="dropdown"><a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{% trans "Management" %} <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="{% url "admin:index" %}">{% trans "Site administration" %}</a></li>
        </ul>
    </li>
    {% endif %}
{% endblock %}

{% block body %}
    <h2>{% trans "Upcoming events" %}</h2>
    <div class="row">
        {% for event in events %}
            <div class="col-md-4 events_event">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="{{ event.get_absolute_url }}" data-currentevent="{{ event.slug }}">{{ event.name }}</a>
                    </div>
                    <div class="panel-body">
                        {% if event.fp_currently_ongoing %}
                            <span class="glyphicon glyphicon-arrow-right text-success" data-ongoingevent="{{ event.slug }}"> </span>
                        {% endif %}
                        {{ event.start_date }}–{{ event.end_date }}
                    </div>
                </div>
            </div>
        {% empty %}
            <div id="events_no_future"><em>{% trans "No future events" %}</em></div>
        {% endfor %}
    </div>
    {% if old_events %}
    <h2>{% trans "Old events" %}</h2>
    <div class="row">
        {% for event in old_events %}
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="{{ event.get_absolute_url }}" data-oldevent="{{ event.slug }}">{{ event.name }}</a>
                    </div>
                    <div class="panel-body">
                        {{ event.start_date }}–{{ event.end_date }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}

{% block navbar_right %}
{% include "kirppu/navbar_login.html" %}
{% endblock %}
