{% load i18n %}
    <h2>{{ title }}</h2>
    <div id="{{ id }}_legend"></div>
    <div id="{{ id }}" style="width:100%; height:300px;"></div>
    <div id="{{ id }}_numbers" class="well">
        <div class="row">
            <div class="col-xs-3 info-key">{% trans "Mean" context "Mean value, average" %}</div>
            <div class="col-xs-9 graph_avg"></div>
        </div>
        <div class="row">
            <div class="col-xs-3 info-key">{% trans "Median" %}</div>
            <div class="col-xs-9 graph_median"></div>
        </div>
        <div class="row">
            <div class="col-xs-3 info-key">{% trans "Standard deviation" %}</div>
            <div class="col-xs-9 graph_stdev"></div>
        </div>
        <div class="row">
            <div class="col-xs-3 info-key">{% trans "68th percentile" %}</div>
            <div class="col-xs-9 graph_perc68"></div>
        </div>
        <div class="row">
            <div class="col-xs-3 info-key">{% trans "95th percentile" %}</div>
            <div class="col-xs-9 graph_perc95"></div>
        </div>
        <div class="row">
            <div class="col-xs-3 info-key">{% trans "99.7th percentile" %}</div>
            <div class="col-xs-9 graph_perc997"></div>
        </div>
    </div>
