{% extends "kirppu/common.html" %}{% load i18n kirppu_tags %}

{% load static %}

{% block title %}{% trans "Stats" %} – {{ block.super }}{% endblock %}

{% block head %}
    {{ block.super }}
    <script src="{% static "kirppu/js/dygraph-combined.js" %}" defer></script>
    <script src="{% static "kirppu/js/stats.js" %}" defer></script>

    <style type="text/css">
    .sum_table_below tr:last-child {
        font-weight: bold;
    }
    .sum_table_right td:last-child {
        font-weight: bold;
    }
    dd + dt {
        margin-top: 0.5em;
    }
    .info-key {
        font-weight: bold;
        text-align: right;
    }
    </style>
{% endblock %}

{% block navbar_right %}
    {% if event.checkout_active %}
    <li><a href="{% url 'kirppu:checkout_view' event_slug=event.slug %}" title="{% trans "Return to checkout" %}">{% trans "Checkout" %}</a></li>
    {% endif %}
    <li><a href="{% url 'kirppu:stats_view' event_slug=event.slug %}" title="{% trans "Return to vendor statistics" %}">{% trans "Stats" %}</a></li>
{% endblock %}

{% block body %}
{% trans "Compensations" as tlCompensations %}
{% trans "Purchases" as tlPurchases %}

    <h1>
        <span id="mode_glyph" class="glyphicon glyphicon glyphicon-signal"></span>
        <span id="title_text">{% trans "Stats" %}</span>
    </h1>

    <p style="margin-bottom: 1.5em;"></p>

    <script type="application/json" data-id="compensations">{{ compensations }}</script>
    <script type="application/json" data-id="purchases">{{ purchases }}</script>
    <script type="application/json" data-id="config">{
        "stats": "general",
        "graphs": {
            "compensations": {
                "graph": "graph2",
                "legend": "graph2_legend",
                "content": "compensations",
                "bucket": 50,
                "avg": "graph2_avg",
                "median": "graph2_median",
                "stdev": "graph2_stdev",
                "perc68": "graph2_perc68",
                "perc95": "graph2_perc95",
                "perc997": "graph2_perc997"
            },
            "purchases": {
                "graph": "graph1",
                "legend": "graph1_legend",
                "content": "purchases",
                "bucket": 2,
                "avg": "graph1_avg",
                "median": "graph1_median",
                "stdev": "graph1_stdev",
                "perc68": "graph1_perc68",
                "perc95": "graph1_perc95",
                "perc997": "graph1_perc997"
            }
        },
        "CURRENCY": {{ CURRENCY|json }}
    }</script>

    <h2>{% trans "General statistics" %}</h2>
    <div style="margin-bottom: 1em;">
        <div id="general_statistics">
            <div class="well">
                <div class="row">
                    <div class="col-xs-3 info-key">{% trans "Registered" %}</div>
                    <div class="col-xs-9">{{ general.registered }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-3 info-key">{% trans "Items in boxes" %}</div>
                    <div class="col-xs-9">{{ general.itemsInBox }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-3 info-key">{% trans "Items separately" %}</div>
                    <div class="col-xs-9">{{ general.itemsNotInBox }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-3 info-key">{% trans "Boxes" %}</div>
                    <div class="col-xs-9">{{ general.registeredBoxes }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-3 info-key">{% trans "Deleted" %}</div>
                    <div class="col-xs-9">{% blocktrans with deleted=general.deleted deletedOfRegistered=general.deletedOfRegistered|floatformat %}{{ deleted }} ({{ deletedOfRegistered }}% of registered){% endblocktrans %}</div>
                </div>
                <div class="row">
                    <div class="col-xs-3 info-key">{% trans "Deleted boxes" %}</div>
                    <div class="col-xs-9">{% blocktrans with deleted=general.deletedBoxes deletedOfRegistered=general.deletedOfRegisteredBoxes|floatformat %}{{ deleted }} ({{ deletedOfRegistered }}% of registered){% endblocktrans %}</div>
                </div>
                <div class="row">
                    <div class="col-xs-3 info-key">{% trans "Items in deleted boxes" %}</div>
                    <div class="col-xs-9">{% blocktrans with deleted=general.itemsInDeletedBoxes deletedOfRegistered=general.itemsInDeletedBoxesOfRegistered|floatformat %}{{ deleted }} ({{ deletedOfRegistered }}% of registered){% endblocktrans %}</div>
                </div>
                <div class="row">
                    <div class="col-xs-3 info-key">{% trans "Printed and deleted" %}</div>
                    <div class="col-xs-9">{{ general.printedDeleted }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-3 info-key">{% trans "Printed, not brought" %}</div>
                    <div class="col-xs-9">{{ general.printedNotBrought }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-3 info-key">{% trans "Brought" %}</div>
                    <div class="col-xs-9">{% blocktrans with brought=general.brought broughtOfRegistered=general.broughtOfRegistered|floatformat %}{{ brought }} ({{ broughtOfRegistered }}% of registered){% endblocktrans %}</div>
                </div>
                <div class="row">
                    <div class="col-xs-3 info-key">{% trans "Sold" %}</div>
                    <div class="col-xs-9">{% blocktrans with sold=general.sold soldOfBrought=general.soldOfBrought|floatformat %}{{ sold }} ({{ soldOfBrought }}% of brought){% endblocktrans %}</div>
                </div>
                <div class="row">
                    <div class="col-xs-3 info-key">{% trans "Purchases" %}</div>
                    <div class="col-xs-9">{{ general.purchases }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-3 info-key">{% trans "Vendors" %}</div>
                    <div class="col-xs-9">{% blocktrans with vendors=general.vendors total=general.vendorsTotal %}{{ vendors }} ({{ total }} total){% endblocktrans %}</div>
                </div>
                <div class="row">
                    <div class="col-xs-3 info-key">{% trans "Vendors visited mobile view" %}</div>
                    <div class="col-xs-9">{{ general.vendorsInMobileView }}</div>
                </div>
            </div>
        </div>
    </div>

    {% include "kirppu/general_stats_graph.html" with id="graph1" title=tlPurchases %}
    {% include "kirppu/general_stats_graph.html" with id="graph2" title=tlCompensations %}

{% endblock  %}
