{% load kirppu_login i18n %}
{% if user.is_authenticated %}
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            {{ user.first_name }} {{ user.last_name }}
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            {% if profile_url %}
            <li><a href="{{ profile_url }}" target="_blank">{% trans "Profile" %}</a></li>
            {% endif %}
            <li><a href="{% kirppu_logout_url event.get_absolute_url %}">{% trans "Log out" %}</a></li>
        </ul>
    </li>
{% else %}
    <li><a href="{% kirppu_login_url event.get_absolute_url %}">{% trans "Log in" %}</a></li>
{% endif %}
