{% extends "kirppu/plain.html" %}{% load i18n %}

{% load static %}

{% block title %}Kirppu - Stats - {{ type_title }}{% endblock %}

{% block head %}
    <link href="{% static "kirppu/css/general.css" %}" rel="stylesheet">
    <script src="{% static "kirppu/js/general.js" %}"></script>
    <script src="{% static "kirppu/js/checkout.js" %}"></script>
    <script src="{% static "kirppu/js/dygraph-combined.js" %}"></script>

    <!--suppress CssUnusedSymbol -->
    <style type="text/css">
    dd + dt {
        margin-top: 0.5em;
    }
    div#body {
        width: 100%;
        padding-left: 5px;
        padding-right: 5px;
    }
    h2 {
        margin-top: 5px;
    }
    </style>
{% endblock %}

{% block body %}
{% trans "Number of items" as tlItemCount %}
{% trans "Sum of prices" as tlPricesSum %}
{% trans "Brought to event" as tlBrought %}
{% trans "Unsold inventory" as tlUnsold %}
{% trans "Sold inventory" as tlSold %}
{% trans "Returned/Redeemed" as tlRedeemed %}
    <h2>{{ type_title }}</h2>

    <div id="graph2_legend"></div>
    <div id="graph2" style="width:100%; height:300px;"></div>

    <div class="btn-group btn-group-xs hidden-print" style="width: 80%;">{# width set to allow popover be more wider than the buttons #}
        <button type="button" id="graph2_items_link" class="btn btn-default active">{{ tlItemCount }}</button>
        <button type="button" id="graph2_prices_link" class="btn btn-default">{{ tlPricesSum }}</button>
        <button type="button" id="graph2_legend_tip" class="btn btn-link"><span class="glyphicon glyphicon-info-sign"></span> </button>
    </div>
    <div id="legend_content" style="display: none;">
    <dl>
        <dt>{{ tlBrought }}</dt>
        <dd>{% trans "Items cumulatively brought to the event." %}</dd>
        <dt>{{ tlUnsold }}</dt>
        <dd>{% trans "Items brought but not sold nor returned." %}</dd>
        <dt>{{ tlSold }}</dt>
        <dd>{% trans "Items sold but not redeemed." %}</dd>
        <dt>{{ tlRedeemed }}</dt>
        <dd>{% trans "Items returned or redeemed." %}</dd>
    </dl>
    </div>

    <script>
    $(document).ready(function() {
        setupAjax();

        const graphColors = ["rgb(102,128,0)", "rgb(0,51,128)", "rgb(0,128,51)", "rgb(102,0,128)"];
        const g2 = new Dygraph(
                document.getElementById("graph2"),
                '{% url "kirppu:api_stats_group_sales_data" %}?type_id={{ type_id }}',
                {
                    labels: ["{% trans "Time" %}",
                        "{{ tlBrought }}", "{{ tlUnsold }}",
                        "{{ tlSold }}", "{{ tlRedeemed }}"],
                    labelsDiv: 'graph2_legend',
                    legend: 'always',
                    ylabel: "{{ tlItemCount }}",
                    strokeWidth: 2,
                    colors: graphColors,
                    highlightSeriesOpts: {
                        strokeWidth: 3,
                        strokeBorderWidth: 2,
                        highlightCircleSize: 5
                    },
                    axes: {
                        x: {
                            valueFormatter: Dygraph.dateValueFormatter,
                            axisLabelFormatter: Dygraph.dateAxisLabelFormatter,
                            ticker: Dygraph.dateTicker
                        }
                    }
                }
        );

        const g2_items = $("#graph2_items_link");
        const g2_prices = $("#graph2_prices_link");

        function activate(active, non_active) {
            active.addClass("active");
            non_active.removeClass("active");
        }

        g2_items.on("click", function() {
            activate(g2_items, g2_prices);
            g2.updateOptions({
                file: '{% url "kirppu:api_stats_group_sales_data" %}?type_id={{ type_id }}',
                ylabel: "{{ tlItemCount }}"
            });
        });
        g2_prices.on("click", function() {
            activate(g2_prices, g2_items);
            g2.updateOptions({
                file: '{% url "kirppu:api_stats_group_sales_data" %}?type_id={{ type_id }}&prices=true',
                ylabel: "{{ tlPricesSum }}"
            });
        });

        const legend = $("#legend_content");
        legend.find("dt").each(function(index) {
            this.style = "color: " + graphColors[index];
        });

        const popoverWhitelist = Object.assign({}, $.fn.tooltip.Constructor.DEFAULTS.whiteList);
        popoverWhitelist.dd = [];
        popoverWhitelist.dt = ["style"];
        popoverWhitelist.dl = [];

        $("#graph2_legend_tip").popover({
            placement: "top",
            title: "{% trans "Graph legend" %}",
            html: true,
            content: legend.html(),
            whiteList: popoverWhitelist
        });
    });
    </script>

{% endblock  %}
