/* ================ 1: boxes.css ================ */

/* ================ 1: price_tags.css ================ */

#box-add-form {
    width: 19cm;
}

/**
 * Hierarchy for box_container entities.
 *
 *  .box_container
 *      .box_head
 *          .box_head_price
 *      .box_body
 *          .box_description
 *          .box_price
 *          .barcode_container
 *              .barcode_img
 *              .box_extra_code
 *          .box_adult_tag
 *          .box_vendor_id
 *
 *      .box_button_hide
 *      .box_button_printed
 *      .box_button_toggle
 */
#boxes, #printed_boxes, #box_content {
    width: 19cm;
    float: left;
    clear: left;
}
.box_template {
    display: none;
}
.box_container {
    width: 99.9%;
    float: left;
    padding: 0.1cm;
    position: relative; /* Needed for absolute positioning of child elements. */
    transition: width 0.2s;
}

#printed_boxes > .box_container {
    background-color: lightgrey;
}

.box_head {
    float: left;
    width: 2cm;
}
.box_short .box_head {
    display: none;
}

.box_body {
    float: left;
    width: 9.3cm;
    position: relative; /* Needed for absolute positioning of child elements. */
}

.box_price {
    width: 2.5cm;
    font-size: 150%;
    margin-top: 3px;
    margin: 2px; /* Compensate for border not being there for locked items */
}

.box_price:after {
    content:" \20AC"; /* euro */
}

.box_vendor_id {
    font-size: 130%;
    text-align: center;
}

/* Box edit forms. */
.box_editable .box_body form {
    display: inline;
}
.box_editable .box_body form input {
    background: transparent;
    margin: 0;
    padding: 0;
    border: none;
}

.box_description {
    width: 8.7cm;
    height: 2em;
    margin: 2px; /* Compensate for border not being there for locked items */
}

.box_adult_tag {
    position: absolute;
    top: 1cm;
    left: 1.75cm;
    font-weight: bold;
}

.box_content_header {

    border: 1px solid black;
    width: 99.9%;
    height: 3.62cm;
    float: left;
    padding: 0.1cm;
    position: relative; /* Needed for absolute positioning of child elements. */
    transition: width 0.2s;
}

.box_content_header .box_content_number {

    border: 3px solid black;
    left: 0.5em;
    top: 0.5em;
    width: 2cm;
    height: 2cm;
    float: left;
    position: relative;
}

.box_content_description {

    top: 0.5em;
    width: 85%;
    float: right;
    padding: 0.1cm;
    transition: width 0.2s;
     position: relative;
}

.box_title {
    font-size: 130%;
}

.box_content_table {

    height: 14cm;
}

.box_content_table_header {

    height: 9cm;
}

.box_content_table .box_content_number {

    border: 3px solid black;
    left: 0.5em;
    top: 0.5em;
    width: 8cm;
    height: 8cm;
    float: left;
    position: relative;

}
.box_content_table_instructions {

    position: relative;
    top: 35%;
    font-size: 200%;
    margin-left: 8.5cm;
}

.box_content_table .box_description {
    font-size: 175%;
}

.box_content_table .box_title  {
    font-size: 150%;
}

.box_empty_row {

    height: 1em;
}

.box_button_hide {
    position: absolute;
    right: 0px;
    width: 1.5em;
    height: 1.5em;
    padding: 0px;
    font-size:14px;
    font-weight:bold;
}
.box_button_hide {
    top: 1em;
    right: 1em;
}

@media screen, projection, handheld {
    .box_editable .box_price {
        margin: 0px;
        border: 2px inset;
    }
}

@media print {
    .box_extra_code {
        background-color: white !important;
    }

    .box_price, .box_description {
        border: none;
    }
    .box_container > button {
        display: none;
    }
    #box-add-form {
        display: none;
    }
    #printed_boxes, .box_list {
        display: none;
    }

    .box_content_page {
        page-break-inside: avoid;
    }

    .box_content_new_page {
        page-break-before: always;
    }

    @page
    {
        /* this affects the margin in the printer settings */
        margin: 1cm 1cm;
    }

    body
    {
        /* this affects the margin on the content before sending to printer */
        margin: 0px;
        padding: 0px;
    }

    #boxes {
        width: 100%;
    }

    /* Hide item name placeholder. */
    div.box_description > em {
        display: none;
    }
}
