{# -*- mode: django; -*- #}
<dl class="dl-horizontal">
    <dt>{{ text.description }}</dt>
    <dd>{{ item.box.description }}</dd>

    <dt>{{ text.count }}</dt>
    <dd>{{ item.box.item_count }}</dd>

    {% if item.box.bundle_size > 1 %}
        <dt><span class="glyphicon glyphicon-warning-sign text-warning"></span> {{ text.pricing }}</dt>
        <dd>{{ text.bundle_size }} / <span class="price">{{ item.price.formatCents() }}</span></dd>
    {% else %}
        <dt>{{ text.pricing }}</dt>
        <dd><span class="price">{{ item.price.formatCents() }}</span></dd>
    {% endif %}

    <dt>{{ text.code }}</dt>
    <dd>{{ item.code }}</dd>

    <dt>{{ text.box_number }}</dt>
    <dd style="font-size: 170%">{{ item.box.box_number }}</dd>
</dl>
