{# -*- mode: django; -*- #}
<tr id="{{ code }}">
    <td class="receipt_index numeric row-number">{{ index }}</td>
    <td class="receipt_code">{{ code }}</td>
    {% if details %}
        <td class="receipt_item">{{ name }}</td>
        <td class="receipt_item_detail">{{ details }}</td>
    {% else %}
        <td colspan="2" class="receipt_item">{{ name }}</td>
    {% endif %}
    <td class="receipt_price numeric">{{ price }}</td>
</tr>
