{# -*- mode: django; -*- #}
<table class="table table-striped table-hover table-condensed{% if hidePrint %} hidden-print{% endif %}">
{% if caption %}<caption class="h3">{{ caption }}</caption>{% endif %}
<thead>
    <tr>
        <th class="receipt_index numeric">#</th>
        <th class="receipt_code">code</th>
        <th class="receipt_item">item</th>
        <th class="receipt_price numeric">price</th>
        {% if not hide_status %}
        <th class="receipt_status">status</th>
        <th class="receipt_abandoned">abandoned</th>
        {% endif %}
        {% if extra_col %}<th class="receipt_extra_col"></th>{% endif %}
    </tr>
</thead>
<tbody>
{% macro total(sum) %}
    <tr{% if hideSumInPrint %} class="hidden-print"{% endif %}>
    {% if isExpectedSum %}
        <th colspan="3">Expected total:</th>
        <th class="receipt_price numeric">~ {{ sum|displayPrice }} ~</th>
    {% else %}
        <th colspan="3">Total:</th>
        <th class="receipt_price numeric">{{ sum|displayPrice }}</th>
    {% endif %}
    {% if not hide_status %}
        <th></th>
        <th></th>
    {% endif %}
        {% if extra_col %}<th class="receipt_extra_col"></th>{% endif %}
    </tr>
{% endmacro %}
{% if items and topSum %}
    {{ total(sum) }}
{% endif %}
{% for item in items %}
    <tr class="table_row_{{ loop.index }}">
    {% if item.action != "EXTRA" %}
        <td class="receipt_index numeric">{{ loop.index }}</td>
        <td class="receipt_code">{{ item.code }}</td>
        <td class="receipt_item">{{ item.name }}</td>
        <td class="receipt_price numeric">{{ item.price|displayPrice }}</td>
        {% if not hide_status %}
        <td class="receipt_status">{{ item.state_display }}</td>
        <td class="receipt_abandoned">{{ item.abandoned|yesno|title }}</td>
        {% endif %}
    {% else %}
        <td colspan="3">{{ item.type_display }}</td>
        <td class="receipt_price numeric">{{ item.value|displayPrice }}</td>
        {% if not hide_status %}
        <td colspan="2"></td>
        {% endif %}
    {% endif %}
        {% if extra_col %}<td class="receipt_extra_col"></td>{% endif %}
    </tr>
{% else %}
    <tr>
        <td colspan="{% if extra_col %}7{% else %}6{% endif %}">No items.</td>
    </tr>
{% endfor %}
{% if items %}
    {{ total(sum) }}
{% endif %}
</tbody>
</table>
