{# -*- mode: django; -*- #}
<tr id="{{ code }}">
    <td class="receipt_index numeric">{{ index }}</td>
    <td class="receipt_code">{{ code }}</td>
    <td class="receipt_item">{{ name }}</td>
    <td class="receipt_price numeric">{{ price }}</td>
</tr>
