<div class="progress">
    <div class="progress-bar"
         role="progressbar"
         aria-valuenow="{{ value|default(0) }}" aria-valuemin="{{ min|default(0) }}" aria-valuemax="{{ max|default("100") }}"
         style="width: {{ value|default(0) }}%;">
    </div>
</div>