{# -*- mode: django; -*- #}
<table class="table table-striped table-hover table-condensed">
{% if caption %}<caption class="h3">{{ caption }}</caption>{% endif %}
<thead>
    <tr>
        <th class="numeric">{% trans "#" %}</th>
        <th>{% trans "compensated at" %}</th>
        <th class="numeric">{% trans "sum" %}</th>
        <th>{% trans "clerk (counter)" %}</th>
    </tr>
</thead>
<tbody>
{% for item in items %}
    <tr data-index="{{ loop.index0 }}" data-id="{{ item.id }}">
        <td class="numeric">{{ loop.index }}</td>
        <td>{{ item.start_time|dateTime }}</td>
        <td class="numeric">{{ item.total|displayPrice }}</td>
        <td>{{ item.clerk.print }} ({{ item.counter }})</td>
    </tr>
{% endfor %}
</tbody>
</table>
