{# -*- mode: django; -*- #}
<form onsubmit="return false">
    <div class="form-group">
        <label for="suspend_note">Note for suspend</label>
        <input type="text" class="form-control" id="suspend_note" placeholder="Text">
    </div>
</form>
