{# -*- mode: django; -*- #}
<dl class="dl-horizontal">
    <dt>began</dt>
    <dd>{{ receipt.start_time|dateTime }}</dd>

    <dt>sum</dt>
    <dd>{{ receipt.total|displayPrice }}</dd>

    <dt>status</dt>
    <dd>{{ receipt.status_display }}</dd>

    <dt>clerk</dt>
    <dd>{{ receipt.clerk.print }}</dd>

    <dt>counter</dt>
    <dd>{{ receipt.counter }}</dd>
</dl>
{% if receipt.notes and receipt.notes.length %}
    <h4>Notes</h4>
    <ul>
{% for note in receipt.notes %}
        <li>{{ note.timestamp|dateTime }} <em>{{ note.clerk.print }}</em>: {{ note.text }}</li>
{% endfor %}
    </ul>
{% endif %}
{% if receipt.items and receipt.items.length %}
    <h4>Items</h4>
    <table class="table table-condensed table-striped">
    <tbody>
    {% for item in receipt.items %}
        <tr>
            <td class="numeric">{% if item.action == "DEL" %}-{% endif %}{{ loop.index }}</td>
            <td class="receipt_code">{{ item.code }}</td>
            <td>{{ item.name }}</td>
            <td class="numeric">{% if item.action == "DEL" %}-{% endif %}{{ item.price|displayPrice }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endif %}
