{# -*- mode: django; -*- #}
<div class="vendor-info-box">
    {% if title %}<h3>{% trans "Vendor" %}</h3>{% endif %}
    {% macro row(attr, classes="") %}
    <div class="row {{ classes }}">
        <div class="col-xs-3 vendor-info-key">{{ text[attr] }}</div>
        <div class="col-xs-9">{{ vendor[attr] }}</div>
    </div>
    {% endmacro %}
    {{ row("name") }}
    {{ row("email", "hidden-print") }}
    {{ row("phone", "hidden-print") }}
    {{ row("id") }}
    {{ row("terms_accepted_str") }}
</div>
