{# -*- mode: django; -*- #}
<div class="vendor-info-box">
    {% if title %}<h3>Vendor</h3>{% endif %}
    {% macro row(attr, name=null) %}
    <div class="row">
        <div class="col-xs-2 vendor-info-key">{{ name|default(attr) }}</div>
        <div class="col-xs-10">{{ vendor[attr] }}</div>
    </div>
    {% endmacro %}
    {{ row("name") }}
    {{ row("email") }}
    {{ row("phone") }}
    {{ row("id") }}
    {{ row("terms_accepted_str", "terms accepted?") }}
</div>
